[2014-06-05 09:17] bakercp opened #1 "Keyboard Shortcuts (cross platform)"
Currently run command works on OSX, but wasn't working on firefox on Ubuntu64.

I believe ACE has a method for shortcuts based on platform.

Alternatively this may be a firefox-related bug.

Anyway, should test.

[2014-06-05 09:20] bakercp opened #2 "Create Bug Report Button"
Create a little bug report button

"report a bug [bug]"

That links here:

https://github.com/brannondorsey/ofSketch/issues/new

[2014-06-05 09:20] bakercp opened #3 "Run SSL by default"
Currently this is done with a self-signed certificate.

This works on all browsers currently except Safari which does not like self-signed certs when using wss websockets:

http://blog.marcon.me/post/24874118286/secure-websockets-safari

So, we need to consider a work around.

[2014-06-05 09:21] bakercp opened #4 "Initial Configuration "Wizard""
A way for users to setup their preferred project folder, addon older, etc.

Download the latest openframeworks release.

[2014-06-05 09:22] bakercp opened #5 "Login Screen / Require User / Pass"
for security reasons require login.
server will set a cookie.

Related to #4

[2014-06-05 09:23] bakercp opened #6 "Add Version Update Checking on the Client"
We can check for new releases w/ the API.

I'll have the server check this on the server side and then push an event to the client side, where you (@brannondorsey) can present the link to the user.

Requires that the server can report its current version information with a new method and requires that releases code includes release number.

e.g.
https://api.github.com/repos/brannondorsey/ofSketch/

[2014-06-05 09:24] bakercp opened #7 "Implement Server Side Settings"
Not sure of the best way to implement settings on the server side. Here is an example of an EditorSettings.json file:

[code]

On the backend, I have two ways that I could structure the class. The first is as follows:
## Option 1

[code]

This class would easily be able to save and load settings files, and the data from those files would be accessible in code like this:

[code]
## Option 2

[code]

[2014-06-05 09:25] bakercp opened #8 "Cleaner Alerts"
Alerts (Saved, Compile Success, Compile Error, etc..)

[2014-06-05 09:25] bakercp opened #9 "Asterisks to denote dirty tabs"

[2014-06-05 09:26] bakercp opened #10 "Basic Cross Platform Keybindings"
- [x] Run
- [x] Save
- [ ] Stop

[2014-06-05 09:27] bakercp opened #11 "Front End Input Validation"
- [ ] Project Names (new names and renaming)
- [ ] ?

[2014-06-05 09:30] bakercp opened #12 "Code Completion"
Basic code completion for known openFrameworks API.

Should enable API discovery.

[2014-06-05 09:31] bakercp opened #13 "ofxAddon Management"
- Download addons
- Addon version control

[2014-06-05 09:32] bakercp opened #14 "openFrameworks Version Selector"
- Select the release of openFrameworks to use.

[2014-06-05 09:32] bakercp opened #15 "Project Generator Integration"
This should work seamlessly with Project Generator.

[2014-06-05 09:34] bakercp opened #16 "File Upload"
- ofxHTTP already supports file upload.
- We need file management for users to upload files to their data folder.

[2014-06-05 09:34] bakercp opened #17 "Server Side Input Validation"

[2014-06-05 09:35] bakercp opened #18 "Configurable Project Settings"

[2014-06-05 09:35] bakercp opened #19 "Configurable Editor Settings"
Full integration of client-side + server-side (gui) editors settings.

[2014-06-05 09:36] bakercp opened #20 "Basic System for ofxAddon Inclusion"
- Point to addons directory.
- Check-box style interface to include addons.

[2014-06-05 09:36] bakercp opened #21 "Parse Compiler Ouput"
Provide in-line compiler error help via ACE

[2014-06-05 14:48] bakercp opened #23 "Fix Undo / Redo"
Fix undo in editor.  Currently it doesn't seem to work.

http://ace.c9.io/#nav=api&api=undomanager

[2014-06-05 15:01] bakercp opened #24 "Auto Save"
Editor Automatic Saving

[2014-06-05 21:14] brannondorsey commented on #23
This is supposed to work by default. I will look into it.

[2014-06-05 21:17] brannondorsey commented on #11
Anything with an input text field.

[2014-06-05 21:18] brannondorsey commented on #8
Something friendly that doesn't disrupt the interface.

[2014-06-05 21:18] brannondorsey commented on #7
Does option 2 make the most since for our style?

[2014-06-05 21:30] brannondorsey commented on #1
Ace does have a method that is cross platform, but unfortunately the key bindings seem to be linked to the editor element alone, not the document. This means that key presses can only be tracked when the editor is in focus. I am currently employing a method similar to [this](http://stackoverflow.com/a/20009705/1833823) for both the run (cmd-r) and the save (cmd-s) shortcuts. I have also played aro

[2014-06-06 00:56] bakercp opened #25 "Some Browsers Cause Server Failure"
For an unknown reason, ipad editing fails after saving a new project.  When it redirects to the new saved project, it gets stuck on the `loading ...` screen.  This error leads to breaks in all of the other open browser windows as well.

[2014-06-06 00:58] bakercp commented on #25
To reproduce:
1. Start server.
2. Open new project in desktop browsers, save and run.  Then close.
3. Open the editor window an ipad (or other ios device I suspect) using the ip address of the server machine.  Save a new project.
4. It will then fail.

[2014-06-06 02:41] bakercp opened #26 "Display Error When Client Cannot Connect to Host"
Display some sort of error when the client cannot connect to the host.

[2014-06-06 02:46] bakercp commented on #1
Moving this to v0.2.0 milestone.  It's not essential

[2014-06-06 02:47] bakercp commented on #2
Moving this to v0.1.0 milestone, as I think it is essential for the first release.

[2014-06-06 02:55] bakercp commented on #2
To make this even better, it would be nice to pre-fill out the issues report with some system data:

We can do it like this

https://github.com/olab-io/ofSketch/issues/new?title=foo&body=bar

Here's what it looks like when you use that pre-filled link:

![new_issue__olab-io_ofsketch](https://cloud.githubusercontent.com/assets/300484/3196209/ec43e4c0-ed25-11e3-9a16-c29f57b410ab.png)

I think at the

[2014-06-06 03:03] bakercp opened #27 "Discussion: Initialize Variables in the header file in Sketch mode"
To make our sketches more Processing / Java like, we want to encourage header-only development for the simple "sketch" mode.

This means people will be tempted to declare and initialize variables in the header.  This is a perfectly permissible in C++11, but not before (at least according to the standards).  That said, most modern compilers seem to support this even without using a fully-compatible

[2014-06-06 03:11] bakercp opened #28 "More responsive toolbar when using narrow browsers"
Currently the toolbar doesn't collapse in a Bootstrap friendly way when using narrow browsing windows.

e.g.

![ofsketch](https://cloud.githubusercontent.com/assets/300484/3196290/2aca002e-ed28-11e3-858b-1eb4d07fd6ed.png)

![ofsketch](https://cloud.githubusercontent.com/assets/300484/3196289/252e2cd0-ed28-11e3-915f-399a38a9ccd8.png)

This should be possible to fix with Bootstrap to make this more

[2014-06-06 03:14] bakercp opened #29 "Better Console View Control"
I find myself wanting to resize the console window with a little handle.

![ofsketch](https://cloud.githubusercontent.com/assets/300484/3196304/72b6129c-ed28-11e3-92f8-86ef7ec9a408.png)

Other enhancements:
- [x] Drag size of console / Editor
- [x] Make console go all the way to the bottom of any page (not fixed height).
- [ ] Make console toggle-able to see temporarily hide it during editing.
- [

[2014-06-06 03:17] bakercp opened #30 "Console Input - Pass Keyboard Standard Input to Program"
It would be ideal to be able to send keyboard commands / standard input back to the make-run task.  This should be possible to by connecting to the poco input pipe.

It's a little tricky with the current task model, but certainly possible.

This would primarily be useful when running a program on a remote computer.

[2014-06-06 05:02] bakercp commented on #6
I got all of the back and front end working and moved.

@brannondorsey Can you clean up the "alert" so it is clickable and meshes well with the bootstrap style?

You can test your changes by just changing:

[code]

to

[code]

[2014-06-06 05:05] bakercp commented on #2
Now that we have version checking, when someone clicks on the report issue button, we should first do a quick check of the user's version to remind them to upgrade to the latest version before reporting a bug.

[2014-06-06 05:30] bakercp commented on #25
On a related note, Safari and Firefox on desktop seem to exhibit similar behavior.  I believe there is something going on with the websocket -- but I'm not completely clear what the problem is yet.

[2014-06-06 06:22] bakercp opened #31 "Shutdown Errors / Delays"
It takes a long time for the server to shut down and sometimes this produces errors.

This is likely an old Poco socket bug fixed in 1.5+.

[2014-06-07 05:59] bakercp opened #32 "Editor: Implement Basic Autocomplete"
Here is a simple example using an existing set of tags.

http://plnkr.co/edit/6MVntVmXYUbjR0DI82Cr?p=preview

[2014-06-07 07:27] bakercp opened #33 "Simple Export"
A Zip Task zips up the current project app and data directory and presents it to the client for download.

[2014-06-07 23:41] brannondorsey opened #34 "Logger <li> content can overflow modal width"

[2014-06-08 01:50] #2 closed, assigned to brannondorsey

[2014-06-08 01:51] brannondorsey commented on #6
Great work @bakercp! Alerts are now bootstrapified as of https://github.com/olab-io/ofSketch/pull/35.

[2014-06-08 01:53] #6 closed, assigned to brannondorsey

[2014-06-08 02:30] #34 closed, assigned to brannondorsey

[2014-06-08 02:41] brannondorsey opened #36 "Keyboard Shortcut Tooltip"

[2014-06-08 05:34] brannondorsey commented on #29
Handle now allows draggable resize. Other enhancements to come at or before v0.4.0.

[2014-06-08 05:39] brannondorsey commented on #32
What tags do you see us using for the most basic of autocompletion? I was thinking for v0.0.2 we could use oF types?

[2014-06-08 05:45] brannondorsey opened #37 "CONTRIBUTING.md"

[2014-06-08 08:49] bakercp commented on #32
ofFunctions for now.  I'm trying to get it in there asap.  I just need to generate them.

[2014-06-08 08:50] bakercp commented on #29
+1 :)

[2014-06-08 09:36] bakercp opened #38 "When Creating/saving a New Project, input box should be in focus immediately."

[2014-06-08 13:17] #38 closed, assigned to brannondorsey

[2014-06-08 13:18] brannondorsey commented on #38
All modal inputs now autofocus. Should consider enter key event submission as well.

[2014-06-08 18:21] bakercp commented on #32
Basic auto-complete is implemented via ctrl+space.  I will be adding of functions to the index shortly.

We should also consider populating a collection of our own snippits.

[2014-06-08 19:29] brannondorsey commented on #7
Basic server side settings are now implemented. They are not, however, configurable on the front-end. They also need to be improved as not all of the ofSketch app is relying on the settings yet. This should be complete by https://github.com/olab-io/ofSketch/issues/19.

[2014-06-08 19:29] #7 closed, assigned to brannondorsey

[2014-06-08 20:17] #37 closed, assigned to nobody

[2014-06-09 00:42] brannondorsey opened #39 "Some Default Ace Keybindings Don't Work"
Once a project or template has been loaded, some default keybindings no longer work, including Command/Ctrl-Z.

[code]

Furthermore, the above code prints "Undoing" but does not actually undo in the editor.

[2014-06-09 01:36] bakercp opened #40 "Editor: Find / cmd-F styling is wrong / not working."
![ofsketch](https://cloud.githubusercontent.com/assets/300484/3212822/8111aa4a-ef76-11e3-8ce9-32c6aa020805.png)

[2014-06-09 01:38] bakercp opened #41 "Editor: Add 80 column marker"
This is visible, but just needs the right styling.

Ultimately this should be on by default, but the user should be able to configure it.

[2014-06-09 01:39] bakercp opened #42 "Editor: Configure settings"
Would be nice to have this level of editor control:

http://ace.c9.io/build/kitchen-sink.html

[2014-06-09 02:02] bakercp opened #43 "Add support for .cpp / .h tabs."
In sketch mode, it is not possible to extend from a base class.

For example, in the HelloWorld example, I would like to extend Ball, but I cannot define an inheritance relationship.

The solution is to have a smarter .sketch file parser to enable more sophisticated classes at different levels.

[2014-06-09 02:05] bakercp opened #44 "Editor: Compiler settings gui."
I would like to be able to set these make task / compiler settings from the gui to enable easier distcc and other tweaks from the gui.

[code]

[2014-06-09 02:18] bakercp opened #45 "Editor: Add Stop Button"
The stop button needs to call the task manager to cancel the task with the task UUID generated by the run button.  This is less important in desktop development and very important during remote / Raspberry Pi development.

[2014-06-09 02:19] bakercp commented on #8
This is done.

[2014-06-09 02:19] #8 closed, assigned to brannondorsey

[2014-06-09 02:20] bakercp commented on #20
We currently have the server side capabilities.

Todo:
- [x] Client side checkboxes.
- [ ] Header inclusion.
- [x] `addons.make` generation.

[2014-06-09 02:21] bakercp commented on #36
For the 0.1.0 perhaps we can just a have a simple modal with a `?` that shows the basic commands?

[2014-06-09 02:32] brannondorsey commented on #36
I'll have this up by v0.2.0. I need to figure out what is going wrong with some of these commands before I publicly claim that they work.

[2014-06-09 17:49] bakercp opened #47 "Gracefully Degrade if Port In Use (choose another port? print error?)"
If the port is in use or the client can't connect to the server, the client should die more gracefully.  Currently it just says ... "loading", which is difficult to decipher.

[2014-06-09 17:53] bakercp opened #48 "WebSocketLoggerChannel not thread-safe on shut down"
This sometimes causes errors on shutdown if clients are connected during shutdown.

[2014-06-09 21:47] brannondorsey commented on #47
Perhaps we should also not use port 8998 seeing as it is the default port for ofxHTTP.

[2014-06-10 00:24] bakercp commented on #47
Agreed.

[2014-06-10 03:45] bakercp opened #49 "Platform: MinGW (aka Windows 32 Support)"
We currently need to figure out how to build on windows using makefiles.  This should be possible, as I believe codeblocks, etc does it -- but this needs more research.

[2014-06-10 03:51] brannondorsey opened #50 "Syntax Highlighting"
Custom Ace syntax highlighting for openFrameworks functions and types.

[2014-06-10 03:56] brannondorsey commented on #40
The Ace scrollbar is also the wrong color and many of the default keybindings don't work. I've got to figure out what is going on with our ace editor.

[2014-06-10 04:43] bakercp commented on #19
This is a useless confusing issue and will be closed.

[2014-06-10 04:43] #19 closed, assigned to nobody

[2014-06-10 20:23] ofTheo opened #51 "play button gives error on Safari and Chrome ( OS X 10.8.5 )"
the IDE shows up in the browser great - both on Safari and Chrome.
But the play button just results in this.

![screen shot 2014-06-10 at 4 22 08 pm](https://cloud.githubusercontent.com/assets/144000/3236352/111d0a14-f0dd-11e3-9059-69547613c19e.png)

this is the case with both Safari and Chrome.

[2014-06-10 20:28] brannondorsey commented on #51
Did you download the [.zip release](https://github.com/olab-io/ofSketch/releases) or fork the project? If you forked, there must be an openFrameworks >= v0.8.1 distro in the `data/` folder (named openFrameworks) in order for any projects to run.

[2014-06-10 20:32] brannondorsey commented on #51
Are there any notable Javascript console messages or server logs (press the grid-like button on the toolbar)?

[2014-06-10 20:38] ofTheo commented on #51
Hi @brannondorsey I downloaded the zip release from: https://github.com/olab-io/ofSketch/releases/
the server logs don't produce any errors ( see attached image )

I don't see any JS console messages either.

![screen shot 2014-06-10 at 4 35 40 pm](https://cloud.githubusercontent.com/assets/144000/3236531/e4c123c2-f0de-11e3-897c-d96a70008c2d.png)

[2014-06-10 20:56] brannondorsey commented on #51
Very strange. Does anything ever pop up on the ofSketch emulated console below the editor?

[2014-06-10 21:26] ofTheo commented on #51
no nothing - it stays completely blank.

I am on OS X 10.8.5
Safari 6.1.4 with WebGL enabled
Chrome 35.0.1916.153

 Thanks!!

[2014-06-10 23:47] julapy opened #52 "WebSocketLoggerChannel causes deadlock on close. Re-engineer WebSocketLoggerChannel."
when quitting the app, by pressing command + Q
ofSketch stops responding and does not quit.

im on 10.9.3

awesome autofill bug reporting btw :)
#### User Info
- ofSketch 0.1.1
- Target: OSX
- User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.76.4 (KHTML, like Gecko) Version/7.0.4 Safari/537.76.4

[2014-06-11 04:28] brannondorsey commented on #52
Hi @julapy, thanks for the bug report! We are currently aware of this problem and are working towards a fix. It looks like it might be a known Poco bug. We are using an older version of Poco and looking to upgrade soon.

[2014-06-11 04:33] julapy commented on #52
no worries, really like how easy bug reporting is from ofSketch.
good work.

[2014-06-11 04:42] brannondorsey commented on #52
Thanks!

[2014-06-11 18:15] bakercp opened #54 "Add note to README about what to do when double-clicking doesn't work."
Since we aren't official app-store developers, users are required to right-click and then open to get around security.  There should be a note about this in the readme for new users.

[2014-06-11 18:28] bakercp commented on #52
This is a duplicate of https://github.com/olab-io/ofSketch/issues/31 but this one has more information and will stay open.  Closing https://github.com/olab-io/ofSketch/issues/31.

[2014-06-11 18:28] #31 closed, assigned to bakercp

[2014-06-13 18:57] bakercp commented on #52
OK.  This is related to https://github.com/olab-io/ofSketch/issues/48.  Basically the WebSocketLoggerChannel is causing the closing websocket WebSocketChannel to lock its own mutex, so I need to figure out a better way to make sure that the websocket channel does not log messages in a way that locks its own mutex.  Working on a way to decouple that ...

[2014-06-13 18:57] bakercp commented on #48
Closing in favor or pursuing #52, which has more discussion.

[2014-06-13 18:57] #48 closed, assigned to bakercp

[2014-06-13 19:09] bakercp commented on #52
This is now fixed with #52.  Note that the application is still slow to shut down, but it will shut down within a few seconds.  The slow shutdown is due to the older Poco http server architecture waiting to join threads.  It's much quicker with new versions of Poco.

[2014-06-13 21:56] bakercp commented on #52
Actually, this is not fixed.  Sorry.

[2014-06-13 22:02] bakercp commented on #52
I renamed this issue.

[2014-06-14 03:44] bakercp commented on #27
For now, we will not be including this in examples, because it breaks out of the box on linux.  When we integrate c++11 in 0.9.0 we'll proceed.  For now, init variables in the setup method.

[2014-06-14 03:44] #27 closed, assigned to nobody

[2014-06-14 04:29] bakercp commented on #52
Just a note -- I confirmed that the server shuts down very quickly under all tested circumstances when compiled against Poco 1.5.3.

[2014-06-14 04:30] bakercp commented on #47
The default port has been changed to 7890 for now.  I'm modifying this bug report to be a bit clearer.

[2014-06-16 03:09] bakercp commented on #51
Just to confirm, I get this error on a 10.7.5 machine.  So, perhaps it has something to do with machines running 10.7/10.8?

[2014-06-16 13:27] bakercp commented on #54
Closed.

[2014-06-16 13:27] #54 closed, assigned to brannondorsey

[2014-06-19 02:43] bakercp opened #58 "Raspberry Pi Fails on ofSystem (openFrameworks Core) error."
OfSketch  compiles on RPI and serves static content but WebSocket is closed prematurely. This may be due to an older version of poco, but more investigation is required.

[2014-06-20 20:59] bakercp commented on #58
Will attempt to fix this with newer version of Poco.

[2014-07-06 18:16] admsyn opened #59 "reference / forum / ofxAddons buttons not working on firefox"
Firefox / OSX. Nothing seems to happen if I click them.

Works in Chrome and Safari though.

[2014-07-06 18:18] kylemcdonald opened #60 "gist save/load/aggregate"
ofblocks.org please

[2014-07-06 18:31] bakercp commented on #59
Got any version info?

[2014-07-06 18:33] admsyn commented on #59
Ah
- ofSketch v0.1.6
- Firefox 30.0
- OSX 10.9.3

[2014-07-12 21:52] brannondorsey commented on #41
Is the default ACE column marker fine? I just enabled it by default.

[2014-07-12 21:55] brannondorsey commented on #40
After a huge headache + digging around at others examples online, I found that using ACE with bootstrap seems to do some weird default CSS clash stuff to ACE's search bar. I did some custom styling to try and offset it. Looks fine now, however if the user picks an outrageously large font-size some weird stuff might happen. I am closing for now but will further look into it if this continues to be

[2014-07-12 21:55] #40 closed, assigned to brannondorsey

[2014-07-12 22:30] bakercp commented on #41
Super.
On Jul 12, 2014 4:52 PM, "Brannon Dorsey" notifications@github.com wrote:

[2014-07-12 22:43] #41 closed, assigned to brannondorsey

[2014-07-13 17:16] #23 closed, assigned to brannondorsey

[2014-07-13 17:17] brannondorsey commented on #59
Fixed for next minor release. Thanks for pointing this out.

[2014-07-13 17:17] #59 closed, assigned to nobody

[2014-07-13 17:17] #28 closed, assigned to brannondorsey

[2014-07-13 17:19] brannondorsey commented on #28
Major toolbar buttons (run, save, open project, etc...) remain as standalones while website links, bug report, etc... are now stacked in a responsive menu. ofSketch version alert still needs to be styled correctly. Perhaps we could handle that with a modal (or would that be too annoying)?

[2014-07-13 17:22] brannondorsey opened #61 "Class tabs must stack on smaller screens"
Currently if you add enough classes the add class "+" button disappears and no more classes can be added. Classes that cannot fit on the screen should be represented by a dropdown menu.

[2014-07-13 18:00] brannondorsey commented on #28
Version alert is now a "!" button that appears in the toolbar. Toolbar should now be fully responsive.

[2014-07-13 18:06] brannondorsey opened #62 "What is the current process for a version bump?"
Do I simply bump the  [version `enum` in App.h](https://github.com/olab-io/ofSketch/blob/master/ofSketchApp/src/App.h#L121-L126)? It seems like there is also version info in the Xcode "general" app info. Is there anything else I need to do?

@bakercp, were you working on a script that publishes a release to github?

[2014-07-14 01:41] #36 closed, assigned to brannondorsey

[2014-07-14 01:49] brannondorsey commented on #32
I have compiled an of function dictionary [here](https://github.com/olab-io/ofSketch/blob/develop/ofSketchApp%2Fbin%2Fdata%2FResources%2FofFunctionDictionary.json). I don't know what you are currently using, but this could be helpful. I can implement time-delayed autosuggest if you would like. Can you point me to where you are populating the autocomplete list right now?

[2014-07-14 01:58] brannondorsey commented on #42
Just discovered (and implemented) ACE's default Settings Menu. It doesn't give full control, and there are some discrepancies with what you can change in the menu vs. what actually shows up in the editor but it gets us about 90% there. Currently defaults are not saved so each page refresh destroys changes. This needs to be played with.

![screen shot 2014-07-13 at 8 55 36 pm](https://cloud.githubu

[2014-07-14 03:28] bakercp commented on #42
very nice.

[2014-07-14 15:35] brannondorsey commented on #47
I've added a blocking (and inescapable) modal for when the server connection is lost. Is it actually possible to handle a "port in use" error. If the port is in use we would not be able to send any data to the client to warn them. We could visualize an error like this in the ofSketch app somewhere.

[2014-07-14 16:13] brannondorsey commented on #9
"Dirty" tabs become red when unsaved.

[2014-07-14 16:13] #9 closed, assigned to brannondorsey

[2014-07-14 17:00] brannondorsey commented on #1
I believe that I fixed this issue, however I do not currently have a cross-platform setup with which to test it. Can someone confirm that the basic keybindings now work cross-platform (with code at the develop branch)?

[2014-07-14 17:47] brannondorsey commented on #32
Basic autocomplete is now implemented. It is activated automatically with no keypress or lag (sublime text style). This will be improved later down the road.

[2014-07-14 17:47] #32 closed, assigned to bakercp

[2014-07-14 17:51] brannondorsey opened #63 "Autocomplete and syntax highlighting without modifying ACE source"
Currently, autocomplete is activated without any keypresses or delays. In order to do this I had to modify the [ext-language_tools.js](https://github.com/olab-io/ofSketch/blob/master/ofSketchApp/bin/data/DocumentRoot/js/src-noconflict/ext-language_tools.js#L973) file in our ACE Build. Also, for the time being all oF global functions are included in [mode-c_cpp.js](https://github.com/olab-io/ofSket

[2014-07-14 20:36] brannondorsey commented on #1
Just tested on Ubuntu64 and we are all set. Closing this for now.

[2014-07-14 20:36] #1 closed, assigned to brannondorsey

[2014-07-15 03:14] brannondorsey commented on #11
Illegal characters block input and trigger a tooltip popup.

[2014-07-15 04:34] brannondorsey commented on #63
Potentially helpful resources:
- https://github.com/ajaxorg/ace/wiki/Creating-or-Extending-an-Edit-Mode
- https://groups.google.com/forum/#!topic/ace-discuss/iol5FeybsGM
- http://stackoverflow.com/questions/22166784/dynamically-update-syntax-highlighting-mode-rules-for-the-ace-editor
- https://groups.google.com/forum/#!topic/ace-discuss/S83hy8-7Oes

[2014-07-15 04:37] brannondorsey commented on #50
This is implemented in a basic (and hacky) way as of v0.2.0: https://github.com/olab-io/ofSketch/issues/63

[2014-07-15 21:24] bakercp commented on #47
OK.  I was planning to do something about this on the server side -- that is, when the user tried to start a second server on the same port it would issue some sort of error or exception, but on OSX at least, this is still quietly running somehow ... so for the moment, I'm going to close this and move the issue of to ofxHTTP.

[2014-07-15 21:24] #47 closed, assigned to bakercp

[2014-07-16 03:58] bakercp commented on #58
This seems to be related to ofxHTTP.  Funny thing is that the ofxHTTP and ofxJSONRPC examples run on RPI ...

[2014-07-16 04:00] bakercp commented on #62
Currently it's kind of manual ... I'm going to get it more fully automated soon.  I have some scripts that automatically update App.h, etc, but I want to make sure they work across platform or else they aren't much use.

[2014-07-16 19:07] brannondorsey opened #64 "About ofSketch button"
Version info. Important links, etc...

[2014-07-16 19:07] brannondorsey opened #65 "Feedback form + send feedback button"

[2014-07-16 19:09] bakercp opened #66 "Tracking User Habits for better design? Survey?"
Is there an non-annoying and opt-in way gather data about how people are using the web interface?  Could this be done on an opt-in basis with Google Analytics or a similar tracking system?

Or would it be better to set a bunch of people up in a room and just watch them use it?

[2014-07-16 19:11] bakercp commented on #65
I'd like to figure out a way to make this pop up after a little while (and never pop up again after they take a survey) via cookies or on the server side.

Also, we need to think about how this is different from submitting bug reports (from the user's perspective).

[2014-07-16 19:12] bakercp commented on #51
I still haven't had a chance to test this on an older machine -- there's a chance it was fixed with the 0.2.0 release -- @ofTheo would you mind giving the new version a quick test?  Thanks for your help!

[2014-07-16 19:15] bakercp commented on #60
So the idea here, as I understand it would be that a user could load a gist into the ofSketch IDE and run it?  Or the code could be saved out as a gist?  It's a slightly different situation than http://bl.ocks.org/mbostock since we are running the code locally (at least until the emscripten port makes its way into ofSketch).

[2014-07-16 19:26] brannondorsey commented on #65
A pop up would be great, but I find those terribly annoying. I think it would be fine if we did the basic "not now", and "don't ask me again". I still vote that we have a button somewhere in settings (see below) that would allow people to send feedback at a designated time of their choice, or if they clicked "don't ask me again".

I see "Report a Bug" staying in the navbar until a stable release,

[2014-07-16 19:29] bakercp commented on #65
Yeah, that looks great menu-wise, and yes, it's super annoying to be spammed for feedback.  That's kind of why I want a more experienced UI/UX person to jump in and help us think through an effective way to do user testing ...

[2014-07-16 20:24] bakercp opened #67 "More descriptive template"
The new version of Arduino IDE is populated with this template:

[code]

We should probably include a few comments in the default template as well.

[2014-07-16 20:33] bakercp opened #68 "I18n / L10n"
_Internationalization_
- [ ] Class names must support UTF8.
- [ ] File contents must be saved and loaded with UTF8 encoding.

_Localization_
- [x] Implement a system for localization - I propose we use [this](https://github.com/wikimedia/jquery.i18n/) or [something](https://github.com/coderifous/jquery-localize) [like](http://keith-wood.name/localisation.html) [it](https://github.com/kflorence/loc

[2014-07-16 20:36] bakercp commented on #61
Also related, the tabs end up awkwardly underneath when the window is really narrow.

[2014-07-16 20:40] bakercp commented on #68
Some of these might already be finished, but we need to test it.

[2014-07-17 17:48] brannondorsey commented on #26
Closed with https://github.com/olab-io/ofSketch/issues/47

[2014-07-17 17:48] #26 closed, assigned to brannondorsey

[2014-07-17 17:50] brannondorsey commented on #61
With way that I am handling tabs right now with bootstrap, this kind of fix is fairly non-trivial. That said, it is a sizable issue and I am moving it up to v0.3.0.

[2014-07-18 01:14] brannondorsey opened #69 "Max editing space"
Editor/console should fill all unused browser space.

[2014-07-18 01:15] #69 closed, assigned to nobody

[2014-07-18 01:18] brannondorsey opened #70 "Clean up html & css code"
Remove extraneous comments and leftover code before the next minor release.

[2014-07-18 01:24] brannondorsey opened #71 "Mobile Scrolling"
Scrolling doesn't work on mobile devices. More info [here](https://github.com/ajaxorg/ace/issues/37).

[2014-07-18 02:45] mileshiroo opened #72 "Name of sketch as tab title"
Hello Christopher and others,

I love ofSketch so far!

After using it for a few hours, I have a small suggestion. I think it would be useful if the title of tab in the browser matched the name of the sketch open in that tab. This way, one could visually distinguish between multiple open sketches. Currently, there is no way to do so:

![screen shot 2014-07-17 at 10 43 17 pm](https://cloud.githubus

[2014-07-18 04:46] bakercp commented on #72
Smart!  Brannon, I'll let you take this one ... should just be setting the html title tag, no?

[2014-07-18 04:49] bakercp commented on #72
Also, thanks @mlsptn.  Please keep the suggestions coming ... I'm super excited that you have used it for "a few hours"!  It makes all of this work worth it :)

[2014-07-18 16:58] mileshiroo opened #73 "Platform: armv7l (aka UDOO, BBB, pcDuino, Arduino Tre, etc)."
Hello again,

Ali and I are trying to find a suitable version of oF to use on the UDOO board.

I tried the linux 64-bit version of ofSketch on an UDOO running Ubuntu 12.04. When I launch the ofSketch executable, nothing happens (both launching 'Execute' or 'Execute in Terminal'). There are no error messages and nothing opens in the browser. I see that ofSketch also fails on rPi, might this be the

[2014-07-18 17:28] brannondorsey commented on #72
Hi @mlsptn! I will get on this and it will roll out in the next patch. Thanks for the issue, and glad you are using ofSketch!

[2014-07-18 18:15] brannondorsey opened #74 "Block project from being open in multiple tabs/machines"
Each project should only be allowed to be open in one place at a time to keep from editing discrepancies. If a project is loaded that is already open, a modal should inform the user that the project is already open, and allow them to close it (in case it is on a remote machine) from that page.

[2014-07-18 18:17] #72 closed, assigned to brannondorsey

[2014-07-18 20:17] brannondorsey commented on #61
That was a sizable headache, but classes should now be stacking in a fairly pleasing way.

[2014-07-18 20:17] #61 closed, assigned to nobody

[2014-07-18 22:00] bakercp commented on #73
Yes, if you can get it to compile on UDOO (aka armv7l) that would be great!  We can start distributing executables.  I'm working on armv6l (aka Raspberry Pi), I just haven't resolved a few issues yet.  Let me know if you get it compiled!

[2014-07-19 20:34] bakercp opened #75 "Auto-updater Framework"
It may be premature, but it would be nice to have an auto-updater framework like [Sparkle](http://sparkle-project.org/) or [WinSparkle](http://winsparkle.org/) to keep the updates fresh.  Finding a cross-platform solution is not trivial.

Here is a possibility:

https://github.com/mendeley/Update-Installer

Alternatively since we are already using a web browser, there must be a nice way to, at the

[2014-07-19 20:39] bakercp commented on #25
I haven't seen this happening lately ... @brannondorsey have you run into this?

[2014-07-19 21:36] brannondorsey commented on #25
I haven't either, although I have not explicitly attempted the above steps to repeat the bug. I will look into this more soon.

[2014-07-20 16:31] brannondorsey opened #76 "New class tabs don't show up when a project is first created"
If a new project is first created, the tabs for any new classes that are created immediately after it don't show up until the page is refreshed.

[2014-07-20 16:31] #76 closed, assigned to brannondorsey

[2014-07-20 16:37] #67 closed, assigned to brannondorsey

[2014-07-21 20:32] brannondorsey commented on #68
Basic localization should be working. To add a new language translation copy the `localization/lang-en.json` file, translate, and save as `localization/lang-LANGUAGE_CODE.json` (i.e. for french, `localization/lang-fr.json`).

For now, only basic keywords + buttons in the GUI are being translated because the project is still subject to much change.

[2014-07-21 20:34] bakercp commented on #68
Cooool.  How do we choose a language?

[2014-07-21 20:38] brannondorsey commented on #68
With Firefox you simply set your preferred language. With Chrome I have found that setting a preferred language is often overwritten by the version of Chrome that you have ("en-US" by default if you downloaded it in the states). With Safari, best that I can tell, you must download a language specific version of the browser.

[2014-07-21 20:39] brannondorsey commented on #68
opening the javascript console and running `navigator.language` will tell you the language your browser is set to.

[2014-07-21 20:39] brannondorsey commented on #68
I am planning on adding Spanish and Japanese support soon :)

[2014-07-21 20:40] bakercp commented on #68
Adding German now :)

[2014-07-21 21:03] bakercp commented on #68
Just tested it w/ German and it works well!  Of course, that doesn't mean my German is perfect ...

Anyway, we should give folks the change to override the system / browser settings somewhere in the editor.  Pulling it from the browser settings is fine for the moment, but I can imagine that some users would prefer to be able to set it manually.

[2014-07-22 18:16] brannondorsey commented on #68
That kind of override is easily supported with the jQuery plug-in that I am using. Lets roll that out when we implement editor/project settings.

[2014-07-22 18:18] bakercp commented on #68
Sounds great.

[2014-07-22 22:46] bakercp opened #77 "Line Control"
I've been researching ways to deal with better locating error messages without doing all sorts of sketchy math with line numbers etc.

I came across [this exciting preprocessor directive](https://gcc.gnu.org/onlinedocs/cpp/Line-Control.html)  `#line XXX` when I was digging into the Arduino build process this afternoon.

Basically, I believe that we should do it very similarly to the way they do.

[2014-07-22 22:52] bakercp commented on #77
Also, please let me know if you interpret its functionality the same way ... I may be off on how this works :)  Here's to wishful thinking!

[2014-07-24 15:52] brannondorsey commented on #68
Basic German, Spanish, and Japanese is currently supported as of [v0.2.2](https://github.com/olab-io/ofSketch/releases/tag/v0.2.2).

[2014-07-24 15:53] #64 closed, assigned to brannondorsey

[2014-07-24 15:54] brannondorsey commented on #10
Closing this as we have found a successful method for cross platform keybindings and there is currently no stop button.

[2014-07-24 15:54] #10 closed, assigned to brannondorsey

[2014-07-24 15:56] #39 closed, assigned to nobody

[2014-07-24 15:59] brannondorsey commented on #44
Is this necessary for v0.3.0? I propose moving it to v0.4.0 or v0.5.0 where we can give full attention to how this fits with "ofSketch Settings" and "Project Settings".

[2014-07-24 16:06] bakercp commented on #44
Yes, let's move it out.

[2014-07-24 17:03] bakercp commented on #58
So, basically the situation is that everything compiles, but something is broken in the websocket communication.  Perhaps the WebSocket frames are too big or something -- I'm not sure yet.  I did just get this exception on the raspberry pi side, which is strange ....

[code]

So, maybe that is a clue ...

[2014-07-25 16:53] brannondorsey commented on #58
I don't have access to an RPi at the moment, but can we confirm that the browsers on the Pi fully support websockets?

[2014-07-25 16:57] brannondorsey commented on #25
Confirmed to work on all major desktop browsers and iPhone + iPad Safari. Closing this issue for now.

[2014-07-25 16:57] #25 closed, assigned to nobody

[2014-07-25 23:13] brannondorsey commented on #42
Very close to patching this up and allowing it to work with our `EditorSettings.json` to control global Editor Settings instead of the single Ace instance.

[2014-07-26 01:50] bakercp commented on #58
Yeah, it works under other circumstances.  I'm going to start injecting
logging info tonight to see if I can get it to reveal its mysteries ...

---

http://christopherbaker.net

On Fri, Jul 25, 2014 at 11:53 AM, Brannon Dorsey notifications@github.com
wrote:

[2014-07-26 22:44] brannondorsey commented on #42
A customized version of the ACE Settings Menu now writes to [`Resources/Settings/EditorSettings.json`](https://github.com/olab-io/ofSketch/blob/develop/ofSketchApp/bin/data/Resources/Settings/EditorSettings.json) and live updates all connected clients.

[2014-07-26 22:44] #42 closed, assigned to brannondorsey

[2014-07-26 23:09] brannondorsey commented on #51
Just tried on 10.6.8 and the client immediately disconnects from the server before the ACE Editor can even render.

[2014-07-27 00:21] bakercp commented on #51
This sounds familiar.  I'm assuming the browser supported web sockets?

[2014-07-27 18:19] brannondorsey commented on #68
With regards to internationalization, my knowledge of UTF-8 compatibility is somewhat limited. What is the best way to validate if strings are UTF-8 Compatible in browser + oF? Furthermore, my front-end validation system will probably need to be updated for I18N/L10n, as it currently blocks certain key code presses in input fields, however these key codes will not be the same in other languages.

[2014-07-28 00:07] bakercp commented on #58
I have seen this error quite a few times in Chrome:

`Uncaught TypeError: Cannot read property 'isTemplate' of undefined`

I'm assuming that is a piece of javascript ... that perhaps is not being downloaded from the server or something?

[2014-07-28 02:57] bakercp commented on #58
Alright I figured it out.

It all boils down to an error with `ofSystem` on Raspberry Pi.  This is called during the connection routine when `ofGetTargetPlatform()` is called.  This needs to be addressed in openFrameworks as an issue.  For the moment I am going to try to create a hack so we can keep moving.  You'll be happy to know as soon as I made my initial hack raspberry Pi worked splendidly (

[2014-07-28 03:32] bakercp commented on #58
This should be fixed as of 73cf43d2b6d68bb3c11e9b58877c068602cc2c7b.  !

[2014-07-28 03:32] #58 closed, assigned to bakercp

[2014-07-28 03:37] bakercp opened #78 "When starting a new project in RPi, ACE editor missing styles."
I'm not sure why yet, but the Ace editor theme and styles are missing when used w/ Raspberry pi.

Basically this:

![christopher](https://cloud.githubusercontent.com/assets/300484/3716293/6d458d16-1608-11e4-9199-f1b5fb5d6f11.png)

[2014-07-28 03:39] bakercp opened #79 "Stricter task management rules needed"
For platforms like Raspberry Pi, running / compiling tasks can get out of control quickly if multiple tabs are open.

We need to set up some rules or restrictions in the TaskManager for various platforms, etc.

[2014-07-28 03:40] bakercp commented on #51
@brannondorsey we need to confirm that this isn't the same issue that was causing problems with the raspberry pi.  It may be an `ofSystem` issue.  Was the server running on 10.6.8?  Or just the browser?

[2014-07-28 03:42] bakercp commented on #51
@brannondorsey Also, there must be a 10.8 desktop machine in ATS.  Let's track one down ASAP and test this.  There may be one in my office.

[2014-07-28 04:03] brannondorsey commented on #78
Does this occur on the current master branch?

Sent from my iPhone

[2014-07-28 04:45] bakercp commented on #78
Just develop as far as I know.

[2014-07-28 05:23] bakercp commented on #68
I'm moving this to v0.4.0 so we can figure out exactly what we want here and how to implement it.

[2014-07-28 05:30] bakercp commented on #73
I just got it working on RPi (https://github.com/olab-io/ofSketch/issues/58) and posted a recipe for compiling the UDOO (http://forum.openframeworks.cc/t/openframeworks-for-udoo-udoobuntu-working-recipe/16505).

There are a few snags we need to work out, like passing the correct make flags to the compiler when compiling on the UDOO using ofSketch, but we should be able to add in that feature prett

[2014-07-28 19:59] brannondorsey commented on #51
The server was running on OSX 10.6.8. Seems to be a system thing because I just ran the browser client from the 10.6.8 machine while running the server on my 10.9 machine and everything worked fine.

I also managed to replicate this issue's original bug on the 10.6.8 machine running Google Chrome (Safari (v5.1.7) still can't load the ACE Editor, although I have confirmed that it does support webso

[2014-07-28 20:15] bakercp commented on #51
Interesting.  I think if we both get in the same room this week, we can figure this out pretty quickly.

I'm not convinced that we need to support OS < 10.7, but it's a good test case to help find extra bugs :)  Can you bring your 10.6 machine to the olab next time you're in?

[2014-07-28 21:34] bakercp opened #80 "Attempting to open a non-existent project via URL confuses ofSketch"
I deleted the Hello World app accidentally and the next time I launched the app (via http://127.0.0.1:7890/?project=HelloWorld) made the ace editor hang with `loading ...`.

We need a way to send errors in this case.

[2014-07-28 22:08] #80 closed, assigned to brannondorsey

[2014-07-28 23:39] brannondorsey commented on #24
Implemented this but have disabled it until we have a system for ensuring that a project can be open in only one tab at a time. Autosave settings will eventually be controllable via the ofSketch settings modal.

[2014-07-28 23:42] brannondorsey commented on #70
This is vague and always applicable

[2014-07-28 23:42] #70 closed, assigned to brannondorsey

[2014-07-28 23:59] bakercp commented on #70
:)

[2014-07-29 00:03] brannondorsey commented on #11
There is currently no validator for checking if project or class name already exists.

[2014-07-29 04:55] bakercp commented on #73
This is now working with UDOO, but it required a recompile of the Poco libs, etc.  We have to get a couple other issues worked out, but it's good news!

[2014-07-29 07:53] AmnonOwed commented on #49
:+1: +1 on this! :)

Any indication on when this feature may be implemented?

_EDIT: Just noticed the milestone of September 1, 2014. Is that the eta?_

[2014-07-29 11:32] bakercp commented on #49
Yes, September is my goal. Sooner would be great. If you have experience with makefiles mingw / msys and windows we love some help :)

[2014-07-29 14:43] AmnonOwed commented on #49
Thanks for the quick reply. Unfortunately I have zero experience with that, so I can't be of much help here. Just started really researching openFrameworks and this project seems like a good step from Processing to oF. Good luck!

[2014-07-29 14:46] bakercp commented on #49
This will indeed be an easy jump from our Processing!  Thanks for your interest!

[2014-07-29 19:25] brannondorsey opened #81 "Error deleting and renaming projects that are open in multiple tabs"
If a project that is open in multiple tabs, is renamed or deleted, these changes are not reflected across all tabs. This can cause huge problems as it allows editing of a project that doesn't exist or has been renamed.

[2014-07-29 19:43] brannondorsey commented on #81
All extraneous project tabs are now closed when a project is deleted, and all but the tab that requested a rename are now closed when a project is renamed.

[2014-07-29 19:43] #81 closed, assigned to brannondorsey

[2014-07-29 22:49] brannondorsey opened #82 "Server fails if new project is opened in another tab while another project is compiling"
If a project is opened while another project is compiling, the server fails with `signal SIGABRT` at

[code]

https://github.com/bakercp/ofxHTTP/blob/master/libs%2FofxHTTP%2Fsrc%2FWebSocketConnection.cpp#L92

[2014-07-30 21:05] #74 closed, assigned to brannondorsey

[2014-07-30 21:11] brannondorsey commented on #11
- Validator now checks if project or class name already exists.
- Improved validation error alerts
- Validated input fields no longer block certain illegal keypresses (internationalization)

[2014-07-30 21:11] #11 closed, assigned to brannondorsey

[2014-08-01 19:12] brannondorsey commented on #51
@ofTheo, I am having trouble replicating this error on an OSX 10.8 machine. I tried with ofSketch v0.1.1, and the newest v0.2.2 releases. Any chance you could check if you still get this error with the [latest release](https://github.com/olab-io/ofSketch/releases)?

[2014-08-01 19:45] brannondorsey opened #83 "Close ofSketch from browser"
- [ ] Close all projects when app exits
- [ ] Close ofSketch button in browser
- [ ] Close project button in browser

[2014-08-02 07:15] brannondorsey commented on #24
Auto saves once a change has been made and the editor is inactive for 20 seconds.

[2014-08-02 07:15] #24 closed, assigned to brannondorsey

[2014-08-02 13:15] bakercp opened #84 "Cross Platform Paths"
Currently when creating paths, we use "/" as separators.  This is not the way of windows.  For cross platform support, we need to construct paths using `Poco::Path`, or avoid *nix style paths.

[2014-08-02 17:36] brannondorsey commented on #77
It works :)

[2014-08-02 17:36] #77 closed, assigned to nobody

[2014-08-02 18:18] mikewesthad commented on #49
Here's the format for building a project using CLI with CodeBlocks on windows:

[Reference for CLI for codeblocks](http://wiki.codeblocks.org/index.php?title=Code::Blocks_command_line_arguments)

[2014-08-03 16:29] mikewesthad commented on #49
Re: discussion on using MSYS and MinGW to make.  I started with a clean install of MinGW, MYSTS, openFrameworks repo and ofSketch repo.
1. Used these settings for the installation of MinGW and MSYS:

![screenshot 2014-08-03 10 47 09](https://cloud.githubusercontent.com/assets/1131802/3791132/3aa5f43c-1b2a-11e4-8884-1d450087ea7a.png)
1. Added C:\MinGW\bin to PATH user variable
2. Used @bakercp's co

[2014-08-03 16:59] mikewesthad commented on #49
Oh well.  Hit a wall, and it's over my head.

Making ofSketch errored, but I'm not sure why.  A bunch of warnings were thrown, plus one error log form JSONRPC.
![screenshot 2014-08-03 11 40 11](https://cloud.githubusercontent.com/assets/1131802/3791198/39e74970-1b2e-11e4-8de8-32a9eda8b8a7.png)

I tried borrowing the Makefile and config.make files from ofSketch and using them to build a simple proj

[2014-08-04 02:15] bakercp commented on #49
Hey @mikewesthad thanks for the work on this.  We're pretty much in the same place at this point.

Just for reference, I am working on this from my "win-fix" oF branch (https://github.com/bakercp/openFrameworks/blob/win-fix).

So the following steps need to be investigated (let me know if you want to tackle some):
- [ ] Contact @arturoc and find out what version of mingw (and compiler flags) were

[2014-08-04 04:25] mikewesthad commented on #49
I'd love to jump in with these, but my understanding of all of this is pretty basic at the moment, so I'm not sure where I can be helpful.

I did find this tool, [cbp2make](http://sourceforge.net/projects/cbp2make/), that I thought might be helpful in figuring out what the current config.win_cb.default.mk is missing.  Here's an example of what the app spits out: [pastebin](http://pastebin.com/0XSy

[2014-08-04 05:17] bakercp commented on #49
@mikewesthad Cool!  That makefile is actually super helpful.  I'll spend some time w/ it and see what I can learn.

[2014-08-04 08:53] arturoc commented on #49
the way i've been compiling libs in windows is by using msys but with the version of mingw that come with codeblocks, the latest ones with codeblocks 12.11. i just delete the mingw folder inside msys and substitute it with a copy of the one that comes with codeblocks. that way it's easy to use cmake, autotools, makefiles...

the reason for compiling with the version of mingw that comes with codebl

[2014-08-04 12:36] bakercp commented on #49
@arturoc Thanks Arturo -- that's what I suspected.  I'll give that a try!

[2014-08-04 13:41] mikewesthad commented on #49
I'm still erroring out with the same linking errors using the Code::Blocks 12.11 MinGW.  Based on your second checkbox, the win make file needs to have some additional parameters that point to the static core libraries?

For documentation's sake, here's some version info for the MinGW from Code::Blocks 12.11 (all of which are older versions than the ones in the MinGW standalone install):

[code]

[2014-08-04 19:00] #21 closed, assigned to bakercp

[2014-08-04 19:00] brannondorsey commented on #21
Seems to be working, although not heavily tested.

[2014-08-04 19:02] bakercp commented on #21
Testing now!

[2014-08-04 19:04] brannondorsey commented on #21
Some indication also needs to be made as to what tabs have errors. Right now unsaved tabs appear red, but I think I am going to change that so that tabs with errors are red and unsaved tabs are another color.

[2014-08-04 19:13] bakercp commented on #21
Parsing works really well in my quick tests on OSX and Linux!  It even parses warnings, which is super cool.  Excellent work!

Perhaps the tags could have "badges" rather than just color changes?

![openlab](https://cloud.githubusercontent.com/assets/300484/3802128/5769c882-1c0b-11e4-8ed5-e70b2ad2a14d.png)

[2014-08-04 20:01] bakercp commented on #45
@brannondorsey I just fixed the stop button ... it was pretty simple :)

https://github.com/olab-io/ofSketch/commit/f7f2d999d49e3daeb781b36b548d49f8de5a1f85

The issue now is that when re-compiling via the play button, if the `_currentRunTaskId` is valid, stop-project needs to be stopped.  Currently the easiest way to do this will be to call this on the client side _before_ you set the `_currentRu

[2014-08-04 20:02] bakercp commented on #51
Hey all - @ofTheo  if you are still having this error, please reopen the issue -- for now I'll close it in preparation for the 0.3.0 release.

[2014-08-04 20:02] #51 closed, assigned to brannondorsey

[2014-08-04 20:05] bakercp opened #85 "0.3.0 Checklist"
- [x] Update the README.md
  - It is slightly out of date in some places.
- [x] Update changelog
  - @bakercp probably forgot to add his work at some point ...
- [x] OSX build
- [ ] Linux 32 build
- [x] Linux 64 build
- [ ] Linux armv6 build

Linux armv7l build currently requires the oF master branch, so until that stabilizes, we'll have to wait on that release.  @brannondorsey I can build any / a

[2014-08-04 20:07] bakercp commented on #78
@brannondorsey I'll double check this on the 0.3.0 release and we can close it then if it's fixed.

[2014-08-04 20:13] bakercp commented on #66
Closing this for now.  Based on our experience at the hack-a-thon, I think the best way forward in the near term is to get together with people in person and learn by observation and self-reporting.

[2014-08-04 20:13] #66 closed, assigned to nobody

[2014-08-04 20:14] bakercp commented on #33
Ultimately for this to be useful it will require closer integration with project generator.

[2014-08-04 20:16] bakercp commented on #17
I'm not exactly sure what this means, so until I can provide a description, I'm closing it.

[2014-08-04 20:16] #17 closed, assigned to bakercp

[2014-08-04 20:19] bakercp commented on #75
I'm closing this for now.  It's a nice idea, but pretty far out.  Perhaps we can add it to a "dreams" page.

[2014-08-04 20:19] #75 closed, assigned to nobody

[2014-08-04 20:31] bakercp opened #86 "GSOC Documentation"
In order to make sure this project continues to generate interest and attract contributors, I think we should expand our current documentation into two documents.  The target audience for these documents will be developers who want to help continue to build ofSketch and those seeking to build features and addons that are ofSketch-"friendly".
- [x] Technical Document:  This document should expand u

[2014-08-04 20:36] brannondorsey commented on #21
Great idea! Implemented with 79cc038.

[2014-08-04 21:20] bakercp opened #87 ""Certified" Addons for ofSketch?"
So, this is really a larger issue to discuss with the open frameworks community, but i've noticed that both Processing and Arduino (with it's new Tre, etc) are going in the direction of "certified" addons and libraries.  This has me thinking about doing the same for ofSketch.  Certification may be the wrong word -- perhaps it's "curation".  Basically the goal for something like this would be to be

[2014-08-04 22:19] brannondorsey commented on #45
hmm... it seems like the stop button doesn't work on linux at [v0.3.0-RC1](https://github.com/olab-io/ofSketch/tree/v0.3.0-RC1).

[2014-08-04 22:42] ofTheo commented on #51
sorry for being slow on this.
my machine died and I just got a new one, with 10.9 so can’t replicate the issue anymore.

[2014-08-04 23:06] brannondorsey commented on #51
No worries, and my condolences about the machine. We will leave this closed unless someone else experiences the problem. Thanks!

[2014-08-04 23:08] bakercp commented on #45
Darn. Will look at it again timing or tomorrow morning.

[2014-08-05 07:05] osiloke opened #88 "Segmentation fault when running programs on mac osx"
A segmentation fault occurs whenever you try to run a program on mac osx. It seems to only seg fault when i compile from the command line (i.e what ofSketch does).

[2014-08-05 09:56] underdoeg opened #89 "Compiling ofxJSON on Linux"
This is actually a bug/question in ofxJSON but since the addon is forked and doesn't have a bugtracker. I'll post it here.

Currently I can't compile ofSketch because I don't have jsoncpp installed and this line askes for it: https://github.com/bakercp/ofxJSON/blob/master/addon_config.mk#L11

I think this is because the version of jsoncpp shipped with the addon used to not compile on linux. (or at

[2014-08-05 12:51] bakercp commented on #88
Hi @osiloke thanks for the report, though we'll need a bit more information:
- What version of ofSketch?
- What version of OSX?
- What browser are you using?
- What exactly is crashing?  ofSketch itself or the programs produced by ofSketch?
- Please provide a minimal example to reproduce the bug.

[2014-08-05 13:06] bakercp commented on #89
Hey @underdoeg - what version of Linux are you using?  Theoretically, ofxJSON should completely ignore the jsoncpp sources in the `ofxJSON/libs/jsoncpp` folder and should run from the system libraries (e.g. those installed via something like `sudo apt-get install libjsoncpp-dev`).  It [looks like the jsoncpp](https://github.com/open-source-parsers/jsoncpp) sources are getting some attention these

[2014-08-05 13:09] bakercp commented on #89
Ahh ... I just re-read your question and I think I misunderstood.  Let me know what version of Linux you're using so we can add a note to the documentation.  In the mean-time, you can probably just modify the addons_config.mk file to meet your needs.  Perhaps if we update to the newer versions of jsoncpp, the source-based compile will be compatible from source across the board on linux ... ?

[2014-08-05 13:25] underdoeg commented on #89
I'm on arch linux with up to date packages. Jep, I used to ignore the shipped jsoncpp and used the one provided by my system. But then I got an error

`error: ‘ArrayIndex’ is not a member of ‘Json’`

I guess ArrayIndex is a new feature and not part of the "official" release yet.

You could also just use unsigned int for now?

https://github.com/brannondorsey/ofSketch/blob/develop/ofSketchApp/src/P

[2014-08-05 13:30] bakercp commented on #89
Ahh, yeah I just added that.  It should probably be unsigned.  It was a temporary attempt to start getting rid of all of the unsigned / signed integer comparison warnings ... do you know which version of jsoncpp is installed on your system?

[2014-08-05 13:34] underdoeg commented on #89
Yes, I think you can safely replace it with an unsigned int.
https://github.com/open-source-parsers/jsoncpp/blob/8050d8b677a5a9b9ccbc3b19ecedbbd7f34e083e/include/json/forwards.h#L26

same here

https://github.com/brannondorsey/ofSketch/blob/develop/ofSketchApp/src/Compiler.cpp#L80

The jsoncpp version is  0.5.0
https://www.archlinux.org/packages/extra/x86_64/jsoncpp/

[2014-08-05 13:35] underdoeg commented on #89
Btw the ofxJSON examples still work, so it really is just that Json::ArrayIndex type

[2014-08-05 15:05] bakercp commented on #89
I just added a commit to fix it -- can you give it a try?  I think it was just in that once place ...

[2014-08-05 15:10] bakercp commented on #89
also note that these updates are pushed to the main olab-io repo (I think some of your links were to @brannondorsey's repo).

[2014-08-05 15:19] underdoeg commented on #89
ok thanks. That fix works but looks like this is also an issue:

[code]

This is something within ofxJSON. Looks like my previous & successful compile of the ofxJSON/example-file project read from the cache.

[2014-08-05 15:21] underdoeg commented on #89
Somehow I feel this thing might get out of hands quickly. Do you have any idea why the shipped jsoncpp files don't compile on linux?

[2014-08-05 15:43] bakercp commented on #89
I don't ... I feel like it might have been some header conflict or something.  I'd prefer to use this all from source, so I'll take a look at it now.  Perhaps the latest jsoncpp source will work on linux now.

[2014-08-05 15:48] underdoeg commented on #89
I just tried it. Doesn't look too good. Stuff like

[code]

Looks like some sort of include order, namespace, hard to solve conflict...

[2014-08-05 15:52] brannondorsey commented on #86
All of this sounds really great! What do you see the main function of the micro website being? Eventually will ofSketch v1.0 be included on the openFrameworks website, and until then we have a designated ofSketch website to download + host info about the project?

[2014-08-05 15:54] brannondorsey commented on #66
Glad we didn't put the effort into something we only thought we might need ;)

[2014-08-05 15:54] underdoeg commented on #89
That is just pasting the source from https://github.com/open-source-parsers/jsoncpp/tree/master/src/lib_json and not building it via cmake...

[2014-08-05 16:01] brannondorsey commented on #20
I am going to make this a top priority after v0.3.0. Until we think a little bit more about the official ofxAddon inclusion process for ofSketch discussed here https://github.com/olab-io/ofSketch/issues/87, I am not going to do any automated header inclusion. Client side checkboxes will simply write to `addons.make`. Perhaps I will also include a URL bar to copy github repos into the addons folder

[2014-08-05 16:06] bakercp commented on #89
Can you try this branch?

https://github.com/bakercp/ofxJSON/tree/develop

---

http://christopherbaker.net

On Tue, Aug 5, 2014 at 10:54 AM, Philip Whitfield notifications@github.com
wrote:

[2014-08-05 16:08] bakercp commented on #86
I think the idea of a micro website would be a simpler, friendlier landing place kind of like http://hello.processing.org/.  But that is probably outside the scope of the docs.  Feel free to remove it from this checklist.

[2014-08-05 16:14] underdoeg commented on #89
That one is complaining about

[code]

[2014-08-05 16:18] bakercp commented on #89
Yeah, I think I just fixed that -- try pulling again.

[2014-08-05 16:21] underdoeg commented on #89
yessir! Looks like that did it. Now the example-file compiles and so does the latest ofSketch. Out of curiosity: What did you do?

[2014-08-05 16:23] bakercp commented on #89
I have successfully the develop branch ofxJSON examples from the new shipped source on linux and linux64 (ubuntu 12 / 14).  I'm compiling now on the armv6l (RPI)/armv7l(Udoo), so I should know if that worked in a few days ;) 

[2014-08-05 16:25] underdoeg commented on #89
Great. Also good to hear that I am not the only one without cross compiling set up ;)

[2014-08-05 16:26] bakercp commented on #89
The fix was:
- `git clone https://github.com/open-source-parsers/jsoncpp.git` latest version of jsoncpp.
- `cd jsoncpp`
- `python amalgamate.py` // produces a smaller set of files (see jsoncpp README.md)
- copy the amalgamated files from `jsoncpp/dist` into the libs folder of ofxJSON
- Removed all lines from `addon_config.mk` that instruct the makefile system to use system libs ...

[2014-08-05 16:27] bakercp commented on #89
I'm also testing on win_cb and vs2012 now just to make sure, but if those all pass, I'll push ofxJSON develop to master.

[2014-08-05 16:31] underdoeg commented on #89
Ah right. Awesome. Now that makes a lot of sense. I guess the important part was

...
The amalgamated sources are generated by concatenating JsonCpp source in the correct order and **defining the macro JSON_IS_AMALGAMATION to prevent inclusion of other headers**.
...

[2014-08-05 16:32] bakercp commented on #89
I'm going to leave this open for the moment to remind me to test all of those other platforms and then merge develop to master.  Thanks for the report!

[2014-08-05 16:35] underdoeg commented on #89
thanks for the quick fix

[2014-08-06 00:43] bakercp commented on #89
ofxJSON just got a big facelift and all has been tested across many platforms and merged into master.  @underdoeg could you give my master branch a check when you get a chance?  I also sent a PR to @jefftimesten with all of the updates so hopefully it will make it upstream for all the linux people.

[2014-08-06 00:43] #89 closed, assigned to bakercp

[2014-08-06 01:19] bakercp opened #90 "Latest build (with new ofxJSON updates) fails on linux"
[code]

Somehow the switch statement at line 1933 is getting a value of 111.  In fact, this is an enum and it should never go above one of these values:

[code]

Argh.  I have to investigate this ...

[2014-08-06 02:54] bakercp commented on #90
Similar issues on linux32 and linux64.  Both crashing on the same assertion.  It's likely a jsoncpp related problem.  I'm tracking it down now ...

[2014-08-06 03:47] bakercp commented on #90
OK.  I think it was all a false alarm.  After some head-banging on keyboard I finally got it to work by running make clean.  I think it was picking up some older ofxJSON object files ...

Anyway, @brannondorsey make sure you run clone_addons.sh.  I made a bunch of cleanups and fixes today on a few dependencies.

[2014-08-06 03:47] #90 closed, assigned to nobody

[2014-08-06 03:48] bakercp commented on #45
I can confirm that this is giving on / off behavior on OSX as well.  Strangely, it seems to depend on which project you are running ... let's try to get this figured out form both back and front ends tomorrow in the olab.

[2014-08-06 09:12] underdoeg commented on #89
Looks good. I was able to compile to ofxJSON examples and the ofSketch develop branch.

[2014-08-07 05:12] bakercp commented on #45
OK.  I'm pretty sure it's working in all cases on both OSX and linux.  A few things had to be fixed:
- Apps that had no output were blocking when I was trying to run `getline` on the standard input, preventing them from closing.  To get around this I started checking the `Poco::Pipe`'s readability using `::select`.  This is not cross platform compatible, but it is POSIX compatible, so as long as w

[2014-08-07 05:12] #45 closed, assigned to bakercp

[2014-08-07 05:14] bakercp commented on #85
@brannondorsey Give the latest develop a run on your platforms and see if it's all working, I think we're ready for 0.3.0 release.  As soon as that drops, merge your addons branch and we'll work on that in develop.

[2014-08-07 12:49] bakercp opened #91 "Compiler settings GUI"
For platforms like udoo we need a bit more control over compiler settings on the client side.

The settings struct inside Compiler.h has some of those settings in there already. We just need a GUI element on the front side.

[2014-08-07 12:51] bakercp commented on #91
OK. I already made this issue. Closing. :)

[2014-08-07 12:51] #91 closed, assigned to brannondorsey

[2014-08-07 12:53] bakercp commented on #43
I think the solution to this is the .h .cpp strategy.

[2014-08-07 15:27] bakercp commented on #49
More clues here --
- MSYS2 seems to be an interesting way forward, especially for compiling using apothecary.  It is actively maintained and it has a package manager (pacman), etc.  I installed it, but haven't tried any of this yet.  http://sourceforge.net/projects/msys2/.  I'm not sure of the best way to get MSYS2 to use the codeblocks 12.11 MinGW executables -- probably a matter of setting up pa

[2014-08-07 16:14] bakercp opened #92 "More robust settings serialization / deserialization, default values."
If settings files are missing or corrupted, the ofSketch will crash.

We need to adopt a more robust settings serialization / deserialization scheme with default values in these cases.

Finally, if settings files are missing, they should be generated on program close using the default values.

[2014-08-07 16:21] bakercp opened #93 "Server Code Cleanup"
- [ ] Remove all inline `TODO:` items.  Create official issues if required.
- [ ] Remove all dead or commented code.  Create official issues if required.

[2014-08-07 18:18] #20 closed, assigned to brannondorsey

[2014-08-07 18:18] brannondorsey commented on #20
Supported as of v0.3.0 :)

[2014-08-08 00:59] brannondorsey commented on #78
@bakercp, have you experienced this recently?

[2014-08-08 02:44] bakercp commented on #78
Just tested.  No longer an issue ... it works amazingly well on Raspberry Pi!  Stop button is a life saver :)

[2014-08-08 02:44] #78 closed, assigned to brannondorsey

[2014-08-08 05:32] bakercp commented on #85
Done.

[2014-08-08 05:32] #85 closed, assigned to brannondorsey

[2014-08-08 05:33] bakercp commented on #88
I'm going to close this.  Please reopen with steps to reproduce.

[2014-08-08 05:33] #88 closed, assigned to nobody

[2014-08-08 05:34] bakercp commented on #50
Done for now.

[2014-08-08 05:34] #50 closed, assigned to brannondorsey

[2014-08-08 14:57] mikewesthad commented on #49
Okay, a lot of stumbling, but here's some progress.  I can get an openFrameworks project to compile using MSYS with the CodeBlock 12.11 MinGW.  Didn't test it with any other versions.

Using the build commands from Code::Blocks as a guide, I got a sample project to compile.    It builds and runs (and spits out the same warnings as Code::Blocks).  See [repo](https://github.com/mikewesthad/openFrame

[2014-08-08 15:36] bakercp commented on #49
@mikewesthad Wow, great news!  Did you end up using MSYS or MSYS2?

[2014-08-08 15:42] mikewesthad commented on #49
@bakercp I used MSYS.

As proof-of-concept that the whole oF make system should work with MSYS+MinGW, I cleared openFrameworks/lib/win_cb/ and called the oF Makefile.  It crapped out at the linker as expected. But then I re-called the linking stage with my own command.  It builds a working exe.  I take that to mean that we can add/tweak commands on the oF Makefile system, and volia.

[2014-08-08 15:45] bakercp commented on #49
Very nice.  Sounds like we need to just tweak.  I am taking a few days off
from ofSketch to focus on other projects, but I'll be back on this next
week ... keep me posted if you make any more progress or have any specific
questions about our magical makefile system :)

---

http://christopherbaker.net

On Fri, Aug 8, 2014 at 10:42 AM, Michael Hadley notifications@github.com
wrote:

[2014-08-08 15:53] mikewesthad commented on #49
Will do.  It's going to take me a while to digest the magic of the makefile system...

[2014-08-08 17:43] brannondorsey opened #94 "ofSketch Settings"
Global ofSketch settings to configure:
- [x] Port
- [x] Buffer Size
- [x] Projects directory
- [x] openFrameworks directory
  etc...

Right now whenever you download a new ofSketch version all of your projects are gone, and must be manually moved to the new version's project folder. This issue can be alleviated by allowing users to specify a "Projects" directory.

[2014-08-08 17:49] bakercp commented on #94
There are probably some cross-platform application settings tools in Poco http://pocoproject.org/slides/180-Configuration.pdf

Theoretically, these settings would be saved in the user's "/User/username/library/Preferences" folder on a mac and in a similar location on other platforms.

Alternatively, we could just create a hidden .ofSketch prefs file in the user's home directory.

Access to user an

[2014-08-08 17:53] bakercp commented on #94
e.g.

[code]

returns `/users/myusername`.

[2014-08-08 18:13] brannondorsey commented on #94
We can do that, for now I was planning on using our `Resources/Settings/OfSketchSettings.json` just like what we do with `EditorSettings.json`, and them having them configurable from the "ofSketch Settings" modal.

How do you feel if we dynamically updating each project's `config.make` with an absolute path to whatever they specify as their openFrameworks directory, that way their `Projects` folde

[2014-08-08 18:17] bakercp commented on #94
I'd prefer not to modify config.make -- instead we can set an environmental variable as a process arg for OF_ROOT when we compile.  That way the user's project directory can live anywhere.

Settings that are bundled with the app bundle don't transfer to new versions very easily, which is why I suggested the Home idea.  That way users could keep their settings on upgrade and also have multiple proj

[2014-08-08 18:38] brannondorsey commented on #94
Ah, makes since! Lets do that :)

[2014-08-08 19:40] brannondorsey commented on #94
Long term, are we interested in moving in the direction of encouraging one ofSketch Projects folder? If so, the next ofSketch release will cause a bit of a problem, as it will define the first "global" projects folder. From then on, that first folder will be the default, with each new release will allow a user you to change their default projects folder. This could lead to some confusion if it is

[2014-08-08 19:45] bakercp commented on #94
I would take our cue from processing / arduino.  Examples and core libraries are bundled with the app in the applications folder.

User sketches and addons (aka libraries in P5/arduino speak) go in the sketches folder.

That said, I think we should hold off on moving libraries just yet -- I'd like to see those stored in (potentially) a third non-bundle location, but managed (eventually) but the of

[2014-08-08 20:11] brannondorsey commented on #94
So are you saying move only Projects (and maybe non-core addons) to a `Documents/ofSketch` like location for now or wait?

 I can't really implement any kind of "ofSketch Settings" that allow you to specify an oF distro + Projects folder until they exist somewhere outside of the ofSketch bundle without causing user headaches.

That said, I think we are at a stage where we can make a change like th

[2014-08-08 21:03] bakercp commented on #94
I think for 0.4.0 I'd like to see:
- Move ofSketch application settings outside of the bundle to a sensible location.  I'd vote for the .ofSketchSettings.json hidden file in the user's home directory for now.  This should have all of the user's application settings in it.
- Move User's projects folder outside of the data bundle.  User-specified settings to locate it.
- Keep Examples inside the bun

[2014-08-08 22:19] brannondorsey commented on #94
Agreed all across the board!

[2014-08-08 22:40] brannondorsey opened #95 "loadImage fails when compiling with ofSketch-develop"
For some odd reason I get a Signal SIGABRT runtime error on App.cpp line: 67 when compiling ofSketch with ofSketch-develop branch of openFrameworks: https://github.com/bakercp/openFrameworks/tree/ofSketch-develop

[code]

I can confirm that I have `openFrameworks.png` in my `data/media` folder and I get now "Image not found" error. This is all that prints to the console before hanging the app:

[c

[2014-08-09 00:39] bakercp commented on #95
I've seen that error before -- it started happening with the Poco upgrade --

See my report here:

https://github.com/openframeworks/openFrameworks/pull/3116

The workaround for the moment is to not load the image :)

I believe it has something to do with the freeimage library needing to be updated, but I'm not sure yet.

[2014-08-09 01:37] bakercp commented on #95
Note to self: http://stackoverflow.com/questions/12542971/using-libstdc-compiled-libraries-with-clang-stdlib-libc

[2014-08-09 03:25] brannondorsey commented on #94
The ofSketch Settings modal is now writing to and loading from `$HOME/.ofsketchsettings.json`.

What is the process for setting the OF_ROOT via our `MakeTask` class? I'm currently setting `MakeTask::Settings.ofRoot` to the correct openFrameworks directory, but it isn't being `push_back`ed as an argument and I am not familiar enough with Make to know how to specify this.

[2014-08-09 04:26] bakercp commented on #94
you should be able to set OF_ROOT like this in MakeTask.cpp

[code]

OF_ROOT should be the relative location from the project folder (or absolute path if required).  OF_ROOT is set to ../../.. by the makefiles by default IFF OF_ROOT has not been defined in config.make OR as a command line argument (which we are doing in this case).    To experiment with it, you might take one of your existing proj

[2014-08-09 05:13] brannondorsey commented on #94
This works well! The Projects + openFrameworks directories can now be specified in ofSketch Settings.

[2014-08-09 12:17] bakercp commented on #94
:+1:

[2014-08-09 17:58] mikewesthad commented on #49
**tl;dr:**
Why would the order of libraries break linking on windows, but not on any other system?  What's the best way to change the order of the core static library (`config.project.mk`) without messing up the other build systems?

**Details:**
Here's my hypothesis for what's messing up with the linking on the current oF make system on windows (with MSYS).

**1)** Some libraries are missing (as

[2014-08-09 18:00] bakercp commented on #49
More great progress. I'll take a look this weekend.

[2014-08-09 19:19] brannondorsey commented on #16
Im having trouble figuring out how to add a file upload route with ofxHTTP. I remember you had it working with a very old version of ofSketch but I haven't been able to find the server code to handle a request to the `/upload` route. I also didn't see any ofxHTTP examples of this in action. Could you post some example code to get me pointed in the right direction?

[2014-08-09 23:30] mikewesthad commented on #49
Didn't mean it to awake you from your ofSketch break.  I was bleary-eyed when I took a swing at this this morning, so I didn't poke around `config.win_cb.default.mk` before posting.

I was able to get the Poco libs ordered.  The make system allows for ordering of libraries within a folder using libsorder.make.  Still, libssl and libcrypto needed to be fed into the linker after Poco.  The core libs

[2014-08-10 02:31] mikewesthad commented on #49
Fixed + updated in the PR.  Build success :)

[2014-08-10 02:37] bakercp commented on #49
!! :) :+1:

[2014-08-10 03:06] mikewesthad commented on #49
Right, one more thing.  Make (via MSYS) is capable of multiple processes via the -jN flag, where N is the number of jobs.  The caveat is that the flag is broken, at least for me and [another](http://sourceforge.net/p/mingw/bugs/1950/), for recent versions of MSYS.  I rolled back to an earlier version as suggested in that link and the jobs works.  -j4 chopped the build time in half.

[2014-08-10 03:28] bakercp commented on #49
How did you roll back to a previous version and what version did you use?

[2014-08-10 03:38] mikewesthad commented on #49
I have two versions of MinGW installed on my machine, each in their own directory.  One is the most recent version and the other is the Code::Blocks version.  The most recent version has a get command, so I rolled back using `mingw-get upgrade msys-core-bin=1.0.17-1`.  Then I copy+pasted that MSYS folder into the Code::Blocks MinGW folder.

[2014-08-11 02:28] mikewesthad commented on #49
It seems like the last item on the list, before we can label this build process as working, is to stop `make` from rebuilding all of core oF every time.  Throwing my hands up and asking the wider oF community ([thread with some details](http://forum.openframeworks.cc/t/windows-mingw-make-system-core-of-is-always-recompiled/16697)).

[2014-08-11 03:31] bakercp commented on #16
An upload (aka "post") route is already configured in our server at the root node "/".  It is accessed much like this:

https://github.com/bakercp/ofxHTTP/tree/master/example_basic_post_server

You can access its settings in the `ofx::HTTP::BasicJSONRPCServerSettings` object.

You should find callbacks for post data / progress, etc events in the App.h/App.cpp.

[2014-08-11 03:41] bakercp commented on #49
@mikewesthad thanks for the epic work on this.  I know it is a very time-consuming process and it isn't the most gratifying work.  Believe me, I know!  If we can't get a good answer from the community, this might be a stackoverflow question ... :)

[2014-08-11 13:03] mikewesthad commented on #49
Jeeze, what a simple fix it was for the above problem.  It's working now.  (small) [PR](https://github.com/bakercp/openFrameworks/pull/5) incoming.

@bakercp, no problem.  Happy to contribute.  Anything else that needs to be done in this issue to allow   ofSketch to be able to call the makefile and extract?  I've been using cmd to call make.  Setting up the environment variables for that isn't har

[2014-08-11 13:32] bakercp commented on #49
I'm going to try to get all of this running today!

[2014-08-11 13:32] bakercp commented on #49
can you provide said .bat file? :)

---

http://christopherbaker.net

On Mon, Aug 11, 2014 at 8:03 AM, Michael Hadley notifications@github.com
wrote:

[2014-08-11 13:37] bakercp commented on #49
by the way all of this great work is going to be super helpful for getting apothecary support for mingw / win_cb :)

[2014-08-11 13:40] mikewesthad commented on #49
Exciting!  As for apothecary, that would be cool.  It was very unhappy with me when I tried to run it last week.  The commands I tried all errored out.

In writing a .bat, I realized the best thing would be executing the below command.  When called within a cmd, it will set the path correctly for MSYS+MinGW.  The changes are local only to that cmd (and any cmds spawned from it), so it would have t

[2014-08-12 00:41] bakercp commented on #49
@mikewesthad so with `SET PATH=C:\MinGW\msys\1.0\bin;%PATH%;C:\MinGW\bin` -- will that set up the correct mingw g++ toolchain etc?  or do i need to set that up with an fstable somewhere?

[2014-08-12 00:59] mikewesthad commented on #49
That should do it (or at least it worked on my machine).  I'm not familiar with fstable?

[2014-08-12 00:59] bakercp commented on #49
OK.  Sorry, I think I need it broken down by steps -- I'm having a hard time piecing all of it together from the thread above.  Here's what I got so far:
- Install Codeblocks 12.11.
- Install [additional files](http://openframeworks.cc/setup/codeblocks/) for codeblocks.
- Copy `C:\Program Files (x86)\CodeBlocks\MinGW` to `C:\MinGW`
- Install The latest MSYS to `C:\MinGW_Latest`.
- Open `cmd.exe`,

[2014-08-12 01:02] mikewesthad commented on #49
The MinGW Code::Blocks has the [additional files](http://openframeworks.cc/setup/codeblocks/) from the oF installation process?

But yeah, that all looks right to me.  Is it erroring out at some point?

[2014-08-12 01:05] bakercp commented on #49
No errors yet, I've only written down the instructions and I'm trying to figure out how to get administrator rights do delete directories on my windows machine ... fun times.  Does the command need to be done like this?
`
SET PATH=C:\MinGW\msys\1.0\bin;%PATH%;C:\MinGW\bin; make
`

I'm not sure of the syntax for such things on windows.

[2014-08-12 01:06] bakercp commented on #49
(also ignore the thing about fstable)

[2014-08-12 01:12] mikewesthad commented on #49
Ah okay.  Well I'm following along on a fresh install of windows, trying to bypass needing Code::Blocks.

I think that if you want to combine the two commands on windows, cmd uses `&` instead of `;`.  But you don't need to throw them on the same line.  The PATH is a variable that is tied to the instance of  cmd.

[2014-08-12 01:14] bakercp commented on #49
Nice.  If you can figure out how to do it by ming-getting the older equivalent codeblocks 12.11 mingw setup that would be awesome.

[2014-08-12 01:22] mikewesthad commented on #49
Yeah, I'll see if I can get it working.

I have a possible correction for step 5: _Open MSYS from C:\MinGW_Latest and and `run mingw-get upgrade msys-core-bin=1.0.17-1`_
I think it should be: _Open CMD, navigate to C:\MinGW_Latest\bin and `run mingw-get upgrade msys-core-bin=1.0.17-1`_

[2014-08-12 01:42] mikewesthad commented on #49
Sigh, mild stumbling block.  The path command (`SET PATH=C:\MinGW\msys\1.0\bin;%PATH%;C:\MinGW\bin`) works find on my Windows 7 machine.  Just retested it.  But it doesn't work on my new machine, Windows 8.1.  On Windows 7, prefixing %PATH% with the msys bin allows the win implementation of `find` to be overriden with the msys version.  On Windows 8.1, security must have been tightened up.  Lookin

[2014-08-12 01:43] bakercp commented on #49
speaking of 8.1 ... how do I delete files on windows?

![windows_8_-_parallels_desktop](https://cloud.githubusercontent.com/assets/300484/3885440/170a69ce-21c2-11e4-8890-32e8b1bf8d51.png)

I've tried just about everything and it won't let me delete my old install ...

[2014-08-12 01:44] bakercp commented on #49
I am WINDOZE\bakercp ... why do i need my own permission?  And how would I give it anyway?

[2014-08-12 01:45] bakercp commented on #49
OK.  I'm going to go take a bike ride.  I've spent over an hour trying to delete files on windows.  This is friggin' insane.  I'll be back on in a bit.

[2014-08-12 01:49] mikewesthad commented on #49
Right click > properties > security.  That lists all the user permissions for the folder.  Is deleting not enabled for the WINDOZE\backercp user?

Understood. :( silly windows.

[2014-08-12 01:53] bakercp commented on #49
![windows_8_-_parallels_desktop](https://cloud.githubusercontent.com/assets/300484/3885499/6b90dfe0-21c3-11e4-99fb-3ac25a7490e6.png)

[2014-08-12 01:59] mikewesthad commented on #49
...I'm stumped without being able to see the machine.  I guess you already tried a reboot?

[2014-08-12 02:02] bakercp commented on #49
Yeah, I reboot.  Regular scheduled reboots are part of my standard windows workflow.  Doesn't every windows user do that?

[2014-08-12 02:05] mikewesthad commented on #49
My reboot count is uncountable.  I guess the next step is to open up your hard drive and manually flip the bits.

[2014-08-12 02:56] mikewesthad commented on #49
I'm calling it quits on this Win 8 stuff for the night.
1. CMD route: I can't get cmd to have the right path information to override `find`.
2. Powershell route: `$env:Path = "C:\MinGW\msys\1.0\bin;" + $env:Path + ";C:\MinGW\bin"` sets the path, but the makefile is throwing errors.  `$(MAKE)` is set to some wonky command.  I can't find where `MAKE` is defined.  Do you have a clue?
3. MSYS route: d

[2014-08-12 05:20] bakercp commented on #49
The internet looped back on itself just now:

http://stackoverflow.com/questions/25255504/set-system-path-for-cmd-on-windows-8-1-trying-to-override-windows-system32-find/25256551#25256551

Also, I successfully deleted my files by manually deleting each one.  Fun times.  A long night bikeride helped.

[2014-08-12 14:04] mikewesthad commented on #49
That sounds awful.  Could it be boot camp/parallels?  The time I've had that sort of error is usually from some hidden process that froze while using the folder.  (I'm looking at you Dropbox.)

And I am quite thankful that you solved my silly CMD issue.  I was going a bit insane.  But now building on Windows 8.1 works **both** with the C::B MinGW and with the latest version of MinGW.  No need to u

[2014-08-12 14:08] mikewesthad commented on #49
Oh and I see that you were using MSYS2.  Should I switch over to that?

[2014-08-12 16:24] bakercp commented on #49
@arturoc we're making progress on this -- can you explain where the codeblocks-dependencies came from?  Is that something you compiled at some point?  Is it something that we should add to apothecary?

@mikewesthad Not sure about MSYS2 yet -- it's pretty nice.  I'm doing my testing with it today and will see if it works easily.  The main advantage is that it has a richer package management system

[2014-08-12 16:25] bakercp commented on #49
![windows_8](https://cloud.githubusercontent.com/assets/300484/3893675/253b175c-223d-11e4-9d72-c3eb43f39ce4.png)

A truism.  Jenny Holzer would be proud.

[2014-08-12 17:46] mikewesthad commented on #49
I don't even...

Also, I moved the instructions for getting a MinGW+MSYS build system working over to a [public hackpad](https://hackpad.com/MinGW-MSYS-openFrameworks-Setup-GuhEod9okeN).  Probably makes more sense as a .md somewhere in the repo.

[2014-08-12 20:14] bakercp commented on #49
@mikewesthad @arturoc are the additional dependencies just binaries that can be installed with the mingw installer?  Just trying to understand the full process ...

[2014-08-12 20:20] mikewesthad commented on #49
Good question for @arturoc.  I only recognized a name or two in the additional Code::Block dependencies.  I saw some Direct3D extension libraries and a compression library.

[2014-08-12 20:28] bakercp commented on #49
OK I followed the hackpad instructions to the letter and got everything compiled, but had some linking failures when i actually got around to linking the app:
![windows_8](https://cloud.githubusercontent.com/assets/300484/3897120/11d3a8d8-225f-11e4-9891-08dd35976313.png)

Seen anything like that?  Might this be a mingw issue related to not using the CB 12.11 MingW version?

[2014-08-12 20:33] mikewesthad commented on #49
Hmm, I have seen errors like that.  Maybe the order of libraries in the linker call needs to be changed.  Latest MinGW version built for me, so let me do a fresh clone of openFrameworks and investigate.

[2014-08-12 20:36] bakercp commented on #49
Cool.  All of your latest updates should be in the master openframeworks repo.

[2014-08-13 03:29] bakercp commented on #49
ofSketch was just successfully compiled using mingw and makefiles on windows :)  This means ofSketch will be able to use the same system to compile sketches on windows!

A bit of work needs to be done to get ride of the *nix / posix dependencies, but we are well on our way!

[2014-08-13 03:41] mikewesthad commented on #49
Yessssss!

I'm curious to hear about (or be pointed towards the relevant code) with the posix dependencies

[2014-08-13 03:54] bakercp commented on #49
@brannondorsey is currently working on implementing Poco::Path for crossplatform paths.

I am working on a way to do a non-blocking `std::getline` on windows without ::select or ::poll

https://github.com/olab-io/ofSketch/blob/develop/ofSketchApp/src/BaseProcessTask.cpp#L73-L85

If you've got any ideas ...

These data structures are available in `<winsock.h>`, but usually that is used with SOCKETs

[2014-08-13 04:03] mikewesthad commented on #49
Mmm, nothing helpful coming to mind at the moment, but I'll take a closer look at the code this week.

[2014-08-13 05:49] bakercp commented on #49
OK.  I have an MinGW folder that works and I successfully place the folder in an arbitrary location on another computer and it seems to be working.  Eventually it will go in the app bundle on the windows distro.  For now, it won't live in the ofSketch repo, but, like the openFrameworks distros, we'll download it, unzip it and package it with each release.

I'll upload it somewhere soon and get it

[2014-08-13 07:30] bakercp commented on #95
Closing this for now, as it will be resolved in the oF master branch.

[2014-08-13 07:30] #95 closed, assigned to nobody

[2014-08-13 07:31] bakercp commented on #62
Resolved? @brannondorsey

[2014-08-13 07:32] bakercp commented on #73
I just added the makefile for UDOO to the oF core / master.  So this should be pretty easy now.

[2014-08-13 07:33] bakercp commented on #33
I added ofxProjectGenerator to the repo to support this.

[2014-08-13 07:34] bakercp commented on #16
Removed the requirement for file management for the time being.  This issue is closed.

[2014-08-13 07:34] #16 closed, assigned to nobody

[2014-08-13 07:34] bakercp commented on #15
Closed for #33.

[2014-08-13 07:34] #15 closed, assigned to bakercp

[2014-08-13 07:36] bakercp commented on #30
Closing this as it is out of the scope of the < 1.0 push.

[2014-08-13 07:36] #30 closed, assigned to bakercp

[2014-08-13 07:36] bakercp commented on #13
Closing this as out of the scope of < 1.0.

[2014-08-13 07:36] #13 closed, assigned to nobody

[2014-08-13 07:37] bakercp commented on #12
This is finished for now.  More advanced code completion will happen in the future when we have a clearer idea of what is needed.

[2014-08-13 07:37] #12 closed, assigned to nobody

[2014-08-13 07:40] bakercp opened #96 "Add Setting to disallow web connections from clients that are not on the localhost."
Disable remote web connections by default.  Enable via whitelist, etc.

[2014-08-13 07:40] bakercp commented on #14
Closing this as it is out of scope.

[2014-08-13 07:40] #14 closed, assigned to nobody

[2014-08-13 07:40] bakercp commented on #5
Closing this in favor of #96

[2014-08-13 07:40] #5 closed, assigned to bakercp

[2014-08-13 07:41] bakercp commented on #4
Closing this as out of the scope of < 1.0.

[2014-08-13 07:41] #4 closed, assigned to nobody

[2014-08-13 07:41] bakercp commented on #18
Unclear what this means.  Closing.

[2014-08-13 07:42] bakercp commented on #92
This is not specific enough.  Closing until a more specific set of examples emerges.

[2014-08-13 07:42] #92 closed, assigned to nobody

[2014-08-13 07:44] bakercp commented on #83
IMHO, this is lower priority and not completely necessary for 0.4.0.

[2014-08-13 07:45] bakercp commented on #65
This is finished for now.  We're on to real-people testing.

[2014-08-13 07:45] #65 closed, assigned to brannondorsey

[2014-08-13 07:45] #62 closed, assigned to bakercp

[2014-08-13 07:46] bakercp commented on #43
IMHO this is high priority.

[2014-08-13 07:47] bakercp commented on #29
IMHO, this is low priority for 0.4.0.  Bumping.

[2014-08-13 07:50] bakercp commented on #94
So, can we close this @brannondorsey

[2014-08-13 23:39] brannondorsey commented on #96
I've just added `allowRemote` and `whitelistedIPs` (array) to the ofSketch Settings GUI. They are currently being saved to and loaded from the `OfSketchSettings` object on the backend. They can be queried via `OfSketchSettings::getAllowRemote()` and `OfSketchSettings::getWhitelistedIPs()`.

I'm not sure of the best way to handle which IPs get responses from the server on the backend, or what those

[2014-08-14 01:43] bakercp commented on #96
Cool.  I'll implement.  Just got a few other things in the queue before I do it.

[2014-08-14 01:52] mikewesthad commented on #49
@bakercp that all sounds fantastic.  I have to work on some other projects for a few days, but I would like to help in some capacity after that

[2014-08-14 02:36] brannondorsey commented on #43
:point_up:  I am going to make this a top priority tomorrow.

[2014-08-14 02:40] brannondorsey commented on #94
Closing for now. Any additional features/settings can be opened as separate issues.

[2014-08-14 02:40] #94 closed, assigned to brannondorsey

[2014-08-14 02:54] brannondorsey commented on #18
Im still thinking about this. It seems like some nice project specific settings could include:
- [ ] Run Script
- [ ] Header search paths
- [ ] Icon

etc...

Projects settings could be saved in a hidden `.projectsettings.json` file in every ofSketch project. What do you think about re-opening and marking for the v0.5.0 (or later) milestone?

[2014-08-14 02:58] brannondorsey commented on #82
This also seems like a high priority for the GSoC release/ making ofSketch actually usable.

[2014-08-14 02:59] bakercp commented on #18
What would these settings do?

[2014-08-14 03:07] brannondorsey commented on #86
Via a GSoC Email blast:

I am going to start making these docs more of a priority as the week progresses. @bakercp, will you be downtown any time in the next few weeks to discuss some of these topics in person? If not I can also meet at a coffee shop.

[2014-08-14 03:10] bakercp commented on #82
Yes.

[2014-08-14 03:10] bakercp commented on #86
I'll be in the olab after noon tomorrow.

[2014-08-14 03:12] brannondorsey opened #97 "Heavy testing for GSoC release"
All GSoC related coding must stop on August, 18th 19:00 UTC. I will obviously keep working on the project, however the zip that I upload to Google can't contain any code from after that date. I propose setting aside a substantial amount of time to testing all currently implemented features on all platforms, on the 15th or 16th to give enough time to fix what we may find.

[2014-08-14 03:14] bakercp commented on #97
Sounds good to me.

[2014-08-14 03:19] brannondorsey commented on #18
I've found a custom run script to be helpful on occasion for bundling OSX apps (copying the data folder into myApp.app/Contents, etc...). Also it would be nice to allow a user to easily upload an app icon. As far as header search paths go, that might be a bit advanced for ofSketch. We could wait a release or two and see what feels most necessary (rather than coding for what we think people will ne

[2014-08-14 03:26] brannondorsey commented on #84
How is this going? I realized that I was probably entirely unhelpful in my attempt. I'd be willing to tag team this tomorrow in oLab if that would be helpful.

[2014-08-14 03:27] bakercp commented on #84
It's going.  Can you hop on chat?  I have some questions about this issue in particular.

[2014-08-14 17:46] bakercp opened #98 "ofSketch Does not compile / run sketches on 10.8.5, Chrome"
The web interface, etc seemed to work -- but the connection to the server seemed broken ..

@nbriz Could you open up ofSketch and press the "Report Bug" button in the upper right hand corner so we can grab your browser, build information?

When I tested it w/ @nbriz we downloaded 0.3.0 and got the "Running" project message, but didn't actually get a project to run on 10.8.5.

[2014-08-14 21:51] nbriz opened #99 "not running in OSX 10.8.5"
like @bakercp said:
The web interface, etc seemed to work -- but the connection to the server seemed broken
#### User Info
- ofSketch 0.3.0
- Target: OSX
- User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36

[2014-08-14 21:59] brannondorsey commented on #99
Thanks @nbriz, I am going to move this to https://github.com/olab-io/ofSketch/issues/98 and see if we can get it worked out.

[2014-08-14 21:59] #99 closed, assigned to nobody

[2014-08-14 22:01] brannondorsey commented on #98
From @nbriz on issue https://github.com/olab-io/ofSketch/issues/99#:

like @bakercp said:
The web interface, etc seemed to work -- but the connection to the server seemed broken

### User Info

ofSketch 0.3.0
Target: OSX
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36

[2014-08-14 22:05] brannondorsey commented on #98
Just confirmed that it works on an OSX 10.8 machine with the following specs:

#### User Info
- ofSketch 0.3.0
- Target: OSX
- User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0) AppleWebKit/537.11 (KHTML, like Gecko) Chrome/23.0.1271.95 Safari/537.11

It seems like this error might only be occurring on 10.8.5. @nbriz, does it work on any browser on your machine?

[2014-08-14 22:08] nbriz commented on #98
i'm having same issue on all my other browsers:
safari Version 6.0.5 (8536.30.1)
firefox 31.0

[2014-08-14 22:10] bakercp commented on #98
it sounds like there is something wrong with the process launcher ....

---

http://christopherbaker.net

On Thu, Aug 14, 2014 at 5:08 PM, Nick Briz notifications@github.com wrote:

[2014-08-14 22:12] brannondorsey commented on #98
@nbriz, do you have Xcode installed? From the terminal, can you navigate to the HelloWorld example project folder in `data/Projects/HelloWorld` and run

[code]

[2014-08-14 22:22] brannondorsey opened #100 "Alert user of missing dependencies"
We need some method to alert the user of missing dependencies (Xcode, other libs, etc...) needed to compile projects with ofSketch. Ideally this would be communicated via a pop-up modal to the user informing them of missing dependencies and info links for how to download them.

[2014-08-14 22:22] nbriz commented on #98
![screen shot 2014-08-14 at 5 22 29 pm](https://cloud.githubusercontent.com/assets/2506806/3927876/809ffe76-2401-11e4-848d-fd20ba08dd0a.png)

[2014-08-14 22:25] brannondorsey commented on #98
Ah, you are missing some dependencies to actually compile projects from ofSketch. Downloading [Xcode](https://developer.apple.com/xcode/) should install everything you need. I've also opened up an issue (https://github.com/olab-io/ofSketch/issues/100) so that we can better inform users when they are missing this stuff, and provide install instructions.

[2014-08-14 22:29] nbriz commented on #98
i've got Xcode Version 4.6.2

question: ur saying that folks will only be able to use ofSketch if they've installed Xcode? maybe this is impossible, but would there be a way to package all those dependencies in ofSketch? i only use Xcode when i absolutely have to ( generally not a fan ) && i've seen students give up on certain projects when simply having to install it ( even that can be more convo

[2014-08-14 22:35] brannondorsey commented on #98
I think what you actually need is the Xcode Command Line Tools, which, according to this [article](http://osxdaily.com/2014/02/12/install-command-line-tools-mac-os-x/) can be installed without Xcode.

Yeah, I don't like the idea of requiring someone to download Xcode in order to use ofSketch. What is the point of a lightweight editor if you have to download a mega 4GB editor just to use it. Its so

[2014-08-14 22:37] brannondorsey commented on #98
Im not sure about 10.8.5, but with Mavericks the Xcode command line tools should install with this command:

[code]

[2014-08-14 23:00] nbriz commented on #98
that did it :+1:

xcode-select --install didn't work for me, but installed command line tools same way i did last time ( through the gui: preferences > downloads > components tab ) ...i've come across this issue b4 ( the case of the Xcode missing command line tools )

so there's ur answer :)

[2014-08-14 23:20] brannondorsey commented on #98
Ok great! I am going to close this issue then. We need to think hard about ways that we can keep a user's install process brief. We've been relying on Xcode for managing our toolchain with OSX users, although it is true that requiring them to download Xcode can be a large deterrent.

[2014-08-14 23:20] #98 closed, assigned to nobody

[2014-08-15 00:39] brannondorsey commented on #86
I was thinking about creating a ROADMAP.md file to go with the rest of our "ALLCAPSMDFILES.md"s. I think it has the highest chance to be read + paid attention to if we bundle it. I was also thinking of doing a sizable revamp to ARCHITECTURE.md, including that architecture image I shared with you, as well as the info specified in the "Technical Document" mentioned above. What do you think? Does tha

[2014-08-15 01:27] bakercp commented on #98
Super!  I think this may actually be possible -- with command line only tools -- which would be super cool!  I'll do a bit more research on this ... when I spin up my new OSX testing images, I'll try out the xcodetools only approach.

[2014-08-15 01:28] bakercp commented on #100
Or perhaps a command that offers to install it for them?  This needs more research ...

[2014-08-15 04:40] bakercp commented on #100
It doesn't look like a command line only install will work on OSX.  The development SDK, etc is included w/ Xcode, and we can't (legally) distribute the required components.  Luckily, it's a 1 button 2 GB install in the app store, which most users should be able to handle.  The goal with ofSketch hasn't been to completely replace native IDEs, but to provide a getting started tool and put working c

[2014-08-18 01:14] bakercp commented on #82
So basically, this ofSketch does not like to open new projects when a compile task is running ...

[2014-08-22 23:18] brannondorsey opened #101 "Save As"
There should be a "Save As" feature. Duh.

[2014-08-23 00:06] brannondorsey opened #102 "Class Template"
I'm not absolutely convinced that our Class template is the way to go. Right now we are abstracting

[code]

Into simply:

[code]

Public member variables that are then defined above the constructor. We should do some thinking as to wether this abstraction is helpful or confusing.

[2014-08-26 20:34] brannondorsey commented on #102
Creating a new class now generates this template:

[code]

Example projects have been updated to accommodate this change.

[2014-08-26 20:34] #102 closed, assigned to nobody

[2014-08-26 20:54] brannondorsey commented on #100
This is now being implemented at a most basic level in v0.3.1 by checking if the machine has the `make` program and directing them of install instructions if they do not.

[2014-08-27 20:13] bakercp opened #103 "Update Project Serialization Scheme"
[code]

@brannondorsey Ideas for future reference.

[2014-09-03 19:14] #86 closed, assigned to brannondorsey

[2014-09-03 19:15] #100 closed, assigned to nobody

[2014-09-03 19:16] brannondorsey commented on #100
Closing. We can open a new issue for:

[2014-09-03 19:18] brannondorsey opened #104 "Hidden resources bar"
As of v0.3.2, the resources link bar (documentation, forum, etc...) is hidden in desktop mode. This needs to be added back.

[2014-09-10 15:06] brannondorsey opened #105 "Open Project in File Manager"
Should we have a browser button to open a project (or at least its `data/` folder) in the default file manager. Would this kind of functionality be useful or would it encourage "bad" behavior.

[2014-09-10 15:43] bakercp commented on #105
Yes, we should have this.  Maybe we could gamify ofSketch and only give people options like this after they have used it successfully for some amount of time ...  The goal of the "ofSketch: The Game" becomes to "escape from ofSketch" ;)

[2014-09-11 22:36] mrado1 opened #106 "ofSketch must be installed on a path without spaces."
When I try to open examples sketches, I get the following error:

Makefile:13: Technologies/_Projects/ofSketch_v0.3.2_osx_release/data/openFrameworks/libs/openFrameworksCompiled/project/makefileCommon/compile.project.mk: No such file or directory
make: **\* No rule to make target `Technologies/_Projects/ofSketch_v0.3.2_osx_release/data/openFrameworks/libs/openFrameworksCompiled/project/makefileCom

[2014-09-12 04:07] brannondorsey commented on #106
No v0.3.2 should work correctly. When you open ofSketch do you see a modal pop up informing you that you have missing dependencies?

[2014-09-12 04:43] mrado1 commented on #106
No, I don't see anything pop up. I don't have to install openFrameworks, do
I?

On Thursday, September 11, 2014, Brannon Dorsey notifications@github.com
wrote:

[2014-09-12 17:53] brannondorsey commented on #106
No you shouldn't have to download openFrameworks, as there is a distribution located inside of the `ofSketch_v0.3.2_osx_release/data` folder already. You may wan't to check and make sure if that folder is present and in order.

Is your ofSketch app still in the same directory as the `data/` folder that it came with?

[2014-09-12 17:55] bakercp commented on #106
We fixed this. The issue was spaces in the path.
 Make files fail with that. We need to document this and add an issue.

[2014-09-12 17:58] brannondorsey commented on #106
Ah, spaces in which path?

[2014-09-12 18:05] bakercp commented on #106
Path to the app itself.

[2014-09-19 17:46] bakercp opened #107 "XCode 6 problems."
OfSketch fails with SDK missing and min-sdk erros when Xcode 6 is installed.

[2014-09-19 17:46] bakercp opened #108 "No auto complete when writing comments."
It is a bit annoying to have auto complete messages popping up when writing comments in ofSketch.

[2014-09-19 17:47] bakercp opened #109 "Update instructions to include step to agree to XCode license"
For new users, we need to make sure they agree to the xcode license or ofSketch won't work.  An error message to this effect shows up in the ofSketch console, but it is a bit ambiguous.

[2014-09-20 19:07] #104 closed, assigned to brannondorsey

[2014-09-20 19:08] #97 closed, assigned to nobody

[2014-09-20 20:43] #106 closed, assigned to nobody

[2014-09-20 20:43] brannondorsey commented on #106
The Download section in the README.md now mentions this requirement.

[2014-09-23 22:31] bakercp commented on #49
Who hoo!  It's here.

https://vimeo.com/106986055

Now just have to merge it all in and take care of a few loose ends.  Thanks for all the help on this.

[2014-09-24 00:11] mikewesthad commented on #49
:) :) :) :) :)

Can't wait to try this.

[2014-09-24 04:48] bakercp opened #110 "OSX 10.7 Support"
Everything works out of the box if XCode is installed, but the produced app binaries fail with:

[code]

This seems related to https://stackoverflow.com/questions/14268887/what-is-the-illegal-instruction-4-error-and-why-does-mmacosx-version-min-10.

[2014-09-24 04:49] bakercp commented on #110
This is likely just an issue with 0.8.3/4 on 10.7.

[2014-09-24 05:17] bakercp commented on #110
Fixed this.

To make it run, the makefile needs to be executed with `make MAC_OS_SDK=10.7` and `make MAC_OS_SDK=10.7 run`

This command sets a compatible `mmacosx-version-min` value in the osx makefile.

[2014-09-24 05:21] bakercp commented on #110
That said, I'm not exactly sure why 10.8 doesn't work.  Additionally, video examples fail like this:

![screenshot_9_24_14__12_20_am](https://cloud.githubusercontent.com/assets/300484/4383744/916dc6a2-43aa-11e4-9c74-cdb9f3633cc5.png)

[2014-09-24 05:31] bakercp opened #111 "Check for and recommend Chrome"
Until we are using CEF or another built-in browser, we should check the user-agent string on the browser and recommend (or force?) people to use Chrome (or Firefox?).

@brannondorsey does Firefox intercept the keyboard shorcuts?

Additionally, this preferred browser should be documented.

[2014-09-24 05:32] bakercp commented on #82
Any movement on this one @brannondorsey ?

[2014-09-24 14:27] brannondorsey commented on #82
Not yet. I've been super swamped. Hoping to make some progress before the
weekend if I can. I have a feeling that it is coming from the backend
because the app crashes.

On Wed, Sep 24, 2014 at 12:32 AM, Christopher Baker <
notifications@github.com> wrote:

##

http://brannondorsey.com

[2014-09-25 17:28] #108 closed, assigned to nobody

[2014-09-25 17:30] brannondorsey commented on #108
Autocomplete is now disabled for inline style comments ("//"). Block style ("/*") comments to come!

[2014-09-25 18:29] bakercp commented on #108
Yes!!!!  Deeply appreciated.

[2014-09-25 23:50] brannondorsey commented on #82
Fixed this for now by [commenting out](https://github.com/olab-io/ofSketch/blob/171b5583cc12c539df6f2ec9db775d9ddafb4554/ofSketchApp/src/App.cpp#L640-L650) a taskQueue frame that was being sent to the client from the server's `App::WebsocketOpen` event. We will need to look into this again if and when we implement a task manager.

[2014-09-25 23:50] #82 closed, assigned to bakercp

[2014-09-26 20:26] bakercp commented on #107
The makefiles were just fixed in of master.https://github.com/openframeworks/openFrameworks/commit/65b9c64676348395f0f5e3d32dfc6d186c636698

[2014-09-26 20:27] bakercp commented on #107
We need a way to include the newest makefiles.  Working on it.

[2014-09-26 20:31] bakercp opened #112 "When clients close, their child processes are not shut down."
In this case, we need to keep a map between the current websocket connections and their child processes so that they can be canceled during websocket shutdown.

[2014-09-26 23:52] bakercp opened #113 "Custom Icons"
We need a custom app icon.

[2014-09-27 01:01] bakercp commented on #84
Solved for now.

[2014-09-27 01:01] #84 closed, assigned to brannondorsey

[2014-09-27 01:01] bakercp commented on #49
Added.  And closed!

[2014-09-27 01:01] #49 closed, assigned to bakercp

[2014-09-27 01:02] bakercp commented on #73
Added.

[2014-09-27 01:02] #73 closed, assigned to bakercp

[2014-09-27 01:12] bakercp opened #114 "Build release script should not copy developer's random projects."

[2014-09-27 01:39] bakercp commented on #107
Fixed.  Added into of master branch and added as a patch to of.

[2014-09-27 01:39] bakercp commented on #107
Working.

[2014-09-27 01:39] #107 closed, assigned to nobody

[2014-09-27 01:40] bakercp commented on #110
Still getting these issues.  Project, etc can compile on Xcode 5 on 10.7, so there must be some incompatibility produced by makefiles or building on 10.9.  Possible solution, build everything on 10.7 and .. ?

[2014-09-27 01:41] bakercp opened #115 "OSX 10.6 Support."
This might be able to happen if the osx makefiles would work for OSX.  But it is unlikely that we will support 10.6 since openFrameeworks core is moving away from this.

[2014-09-27 02:44] bakercp opened #116 "Remove "export project" from main menu."

[2014-09-27 02:55] bakercp opened #117 "Stop button does not work in windows"
The stop fails on some apps ... System exception cannot kill process... Not sure why yet.

[2014-09-27 20:34] mikewesthad opened #118 "Adding an attachment (on windows) doesn't copy the file into the data folder"
Steps to reproduce:
- Create a new project
- Attach file

The 1data/Projects/PROJECT_NAME/bin/data` folder will be empty

[2014-09-28 06:49] bakercp opened #119 "Allow only local host connections by default."

[2014-10-02 15:08] #119 closed, assigned to bakercp

[2014-10-02 15:17] bakercp commented on #109
Can you post that command you got to do this?  We could have a popup to allow ofSketch to do it.

[2014-10-02 15:19] bakercp commented on #83
This will become less of an issue when we wrap in CEF.  I'm suggesting we close this as it is somewhat complex to get right anyway.

[2014-10-02 21:28] osiloke commented on #88
Hi, sorry for not getting back to this issue. I had since dropped ofSketch but let me answer your questions.

What version of ofSketch?
0.3.0
What version of OSX?
10.7.5
What browser are you using?
safari
What exactly is crashing? ofSketch itself or the programs produced by ofSketch?
programs produced by ofSketch
Please provide a minimal example to reproduce the bug.
a bare project thats being com

[2014-10-02 22:22] bakercp commented on #88
Ahh yes.  This is because of 10.7.  Currently 10.7 is not supported because the openFrameworks makefiles don't support it.  We're working on it though. https://github.com/olab-io/ofSketch/issues/110

[2014-10-02 22:55] osiloke commented on #88
Ha understood, i'll take a look at that issue
Thanks

[2014-10-04 02:15] bakercp commented on #96
Fixed with b901d47ac34c00a8f93cfdc631400672a26ea4a7

[2014-10-04 02:15] #96 closed, assigned to bakercp

[2014-10-04 02:47] bakercp opened #120 "Windows: New project, extra class"
When saving a new project, the old `NewProject` class stays in the new project and must be deleted manually.

[2014-10-04 02:49] bakercp opened #121 "Reveal project in file browser"

[2014-10-04 02:49] bakercp opened #122 "place preferences in user home directory"

[2014-10-04 02:49] bakercp opened #123 "place project folder in documents folder"

[2014-10-04 02:49] bakercp opened #124 "move examples into app bundle"

[2014-10-04 19:17] bakercp opened #125 "some editor settings are not broadcast to other editors"
e.g. show gutter

[2014-10-09 18:06] brannondorsey opened #126 "Projects fail to launch with v0.4.0-RC2 w/ Xcode 6"
I observed a bug earlier this week with a student who couldn't get a project to launch on OSX with the v0.4.0-RC2 release with Xcode 6 installed. Seems like the same issue we had at the workshop.

[2014-10-09 18:08] brannondorsey opened #127 "Some class files don't save changes"
Some issues with class files not saving changes. I have not experienced this myself but seen it to be the case on another's machine. Need to investigate further.

[2014-10-09 18:15] bakercp commented on #126
Did you make sure they didn't accidentally have another older version
already running?  When that happens the new version starts up, but the
server fails to launch, while still launching a browser making it appear
that everything started up correctly ...

---

http://christopherbaker.net

On Thu, Oct 9, 2014 at 1:06 PM, Brannon Dorsey notifications@github.com
wrote:

[2014-10-09 20:03] brannondorsey commented on #126
Yes I can confirm that were running only the v0.4.0-RC2 app.

[2014-10-09 20:06] bakercp commented on #126
My guess is that this is still a paths issue and will be cleared up as soon
as we finally rewrite the path control

---

http://christopherbaker.net

On Thu, Oct 9, 2014 at 3:03 PM, Brannon Dorsey notifications@github.com
wrote:

[2014-10-11 03:14] bakercp opened #128 "Block indent"
It would be nice to have block indent (often command ] ) ... unfortunately this goes forward and backward in history destroying changes :(

[2014-10-11 03:17] bakercp opened #129 "command - K (or equiv) to open project folder"
Shamelessly copy processing :)

[2014-10-11 21:39] bakercp opened #130 "allow for other possible new project templates"
via @mikewesthad

It may be useful to offer a few different templates when creating new projects -- basically which of the `ofBaseApp` class members are overriden ...

[2014-10-11 23:19] mikewesthad opened #131 "Ace editor highlighting "time" (even when it is only a subset of a variable name)"
While converting ofBook code to ofSketch, I noticed that the word "time" is being highlighted as a keyword (even when it is part of a variable name).  It shouldn't be a keyword in C++/oF, right?

![shot](https://cloud.githubusercontent.com/assets/1131802/4604432/e060408c-519c-11e4-8135-621fd6c4c731.png)

[2014-10-12 13:59] mikewesthad commented on #131
Also applies to "tan," "sin" and "cos" when they are part of variable names

[2014-10-12 19:42] workergnome commented on #109
Agreeing to the Xcode/iOS license requires admin privileges, please re-run as root via sudo.

[2014-10-12 19:43] workergnome commented on #109
(Just came to post that I got this error.)

[2014-10-14 18:37] bakercp opened #132 "Dependencies link broken"
![screenshot_10_14_14__1_36_pm](https://cloud.githubusercontent.com/assets/300484/4634522/1281e10c-53d1-11e4-82bd-3bbba832c75f.png)

clicking on click here

takes you here

![fasthd_backup](https://cloud.githubusercontent.com/assets/300484/4634528/20d1b26e-53d1-11e4-97da-acdde6eb650a.png)

[2014-10-14 18:51] bakercp opened #133 "Pre-build openFrameworks lib crashes on some 10.9 desktop systems."
Not sure why, but the launch phase failed badly during a demo today.

The solution was to manually re-build openframeworks.a for the target platform.

A temporary solution is to remove the recent feature requiring that openFrameworks.a is built every time.

[2014-10-14 19:15] bakercp opened #134 "OSX Installation Without Xcode?"
Ideally we would install nothing to get running, but alas we usually have to install Xcode.

Xcode from the app store is the easiest way to get going.

The latest command line tools [command_line_tools_for_osx_mountain_lion_april_2014.dmg](http://adcdownload.apple.com/Developer_Tools/command_line_tools_os_x_mountain_lion_for_xcode__april_2014/command_line_tools_for_osx_mountain_lion_april_2014.dmg

[2014-10-14 20:33] bakercp commented on #134
I figured it out ... with some makefile modifications I just successfully ran ofSketch with ONLY command line tools installed.  !!

The key is that the "sysroot" is actually just the root directory and the "/"

I'm updating makefiles and we should be able to avoid much pain getting started now ....

testing on 10.9.

@brannondorsey @mikewesthad

[2014-10-14 20:36] mikewesthad commented on #134
// todo: finish making time machine :)

[2014-10-15 04:42] bakercp commented on #134
OK.  Did a lot of research on the absolute easiest way to get up and running on OSX.  On 10.9, the easiest way will be to have ofSketch launch an install script with `xcode-select --install` if it doesn't detect command line tools.

On 10.8, it seems that the only legit way to do it is for the user to sign into the apple developer site, download command line tools and run it.

Unfortunately the 10

[2014-10-15 12:40] mikewesthad commented on #134
I guess the computers in the 416 are running 10.8.  I remember trying to run `xcode-select --install` on one machine, and it didn't recognize the flag.

[2014-10-15 12:47] bakercp commented on #134
Yeah, that is probably right.  Although I swear at least one of them was
running 10.9.5 ...

---

http://christopherbaker.net

On Wed, Oct 15, 2014 at 7:40 AM, Michael Hadley notifications@github.com
wrote:

[2014-10-15 13:17] mikewesthad opened #135 "Ability to arrange projects in subdirectories"
Even though we already talked about this @bakercp, I figured I'd throw a feature request up here.

It'd be great to be able to organize projects in some directory structure within `./data/Projects`.

[2014-10-15 13:30] bakercp commented on #135
Yes!

[2014-10-15 21:11] bakercp opened #136 "Some compiler errors missed when "did you mean" is suggested."
Here is a minimal example:

[code]

This produces the following error:

[code]

This should be parsed.

[2014-10-16 14:45] bakercp opened #137 ""Open" should always list the latest folder contents"
Currently the file list is cached upon startup, and never updated.

Should use directory watcher.

[2014-10-16 14:47] bakercp opened #138 "If ".sketch" file does not match folder, the project should open with a warning"
Currently, if a project is manually duplicated, the internal .sketch file name will no longer match the folder name.  We need to better allow manual file manipulation through the file explore / finder, etc.

[2014-10-20 13:29] mileshiroo opened #139 "Allow user to specify contents of main.cpp manually."
Hello,

I'm trying to use run shaders with the ofShader object, which requires this call before ofSetupOpenGL(1024, 768, OF_WINDOW) in main():

[code]

Is there any way to do this in ofSketch, that is, is there a way to modify what goes in main()? Running the line in setup() creates a second window. Thank you!

[2014-10-20 14:00] bakercp commented on #139
Excellent question.  We're currently working on handlers so that you can just use the standard main.cpp / ofApp.h/cpp, etc.  That will make it easier.  In the mean time, you could modify Resources/Templates/CompilerTemplates/main.tmpl ... not ideal though.

[2014-10-20 17:31] brannondorsey commented on #139
Yes, this is not ideal at the moment. Additionally, you may need to make sure that ofSketch is closed when making an edit to `main.cpp` so that the changes you make are correctly loaded into the app.

[2014-10-21 14:30] mileshiroo commented on #139
Great, thanks for the response @bakercp  and @brannondorsey!

[2014-10-21 21:45] mikewesthad opened #140 "ofSketch app eats up ~20% CPU when idle"
I see that setup() locks the framerate, but could one of the threads be running beyond that rate (on windows)?  Or is ~20% to be expected for the app?

[2014-10-21 21:55] bakercp commented on #140
it should be doing nothing .. what platform?

[2014-10-21 21:56] mikewesthad commented on #140
Win 8.1

[2014-10-21 21:58] mikewesthad commented on #140
![image](https://cloud.githubusercontent.com/assets/1131802/4727532/582433da-596d-11e4-8c5d-79570b81faa8.png)

[2014-10-21 21:59] mikewesthad commented on #140
(Not a big deal at all, just noticed by fans always spin up when I open up ofSketch)

[2014-10-22 01:11] kangm827 opened #141 "projects do not play - there are no errors : OSX 10.10 Yosemite"
#### User Info
- ofSketch 0.4.0-RC2
- Target: OSX
- User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10) AppleWebKit/600.1.25 (KHTML, like Gecko) Version/8.0 Safari/600.1.25

[2014-10-22 01:17] bakercp commented on #141
Hey @kangm827 It's very likely that this is because of the upgrade to OSX Yosemite -- I'm working on a fix for this presently and will push it out ASAP!

[2014-10-22 14:13] brannondorsey commented on #140
Any empty openFrameworks project does that for me. Does your machine
generally handle oF apps well?

[2014-10-22 15:34] mikewesthad commented on #140
Afk, but I did test that yesterday.  Simple oF apps were taking around 10
percent.  I'll verify with actually numbers later

[2014-10-22 15:51] bakercp commented on #140
The latest build of ofSketch, which isn't released yet, doesn't use a window, but rather CEF (chrome embedded framework).  It doesn't even have a GL context, so theoretically we should be able to convert it to an async event based system rather than the standard loop, which is what is likely eating up CPU.  It should basically be using 0% CPU unless it is compiling.

[2014-10-22 19:20] mikewesthad commented on #140
Re: percentages.  ~20% oF sketch app, ~12% particle system, ~0 empty example

Cool to the new unrelased version

[2014-10-23 19:29] mikewesthad commented on #140
jonathan + nate were talking about how hot their computers get when running ofSketch. they're at ~90% cpu.  just figured I'd tack that on here

[2014-10-23 19:38] bakercp commented on #140
:fire: :fire: :fire: :fire: :fire_engine: :droplet: :droplet: :droplet: :droplet: :+1:

[2014-11-14 02:59] mikewesthad opened #142 "Polymorphism Issues: Classes not being saved from browser to .sketch file"
Here's one way to replicate the polymorphism issue that we were talking about @bakercp.

Create a new project, paste the below classes in and hit run.  It gives an error that indicates DerivedClass isn't extending BaseClass (error: cannot convert 'DerivedClass_' to 'BaseClass_' in initialization).

If I open up `BaseClass.sketch` in sublime, it looks correct.  If I open up `DerivedClass.sketch` in

[2014-11-14 03:04] mikewesthad commented on #142
Actually, I guess this isn't really a polymorphism issue.  It can be summarized simply as:
1. Create a new project
2. Create a class
3. Create a second class

Whatever you put into the second class will not be saved to the .sketch file for the class, and hence, will not be run.

[2014-11-15 19:22] brannondorsey commented on #142
Yeah, I remember something similar to this happening on Windows at INST-INT. Let me test it on Mac today.

[2014-11-15 19:29] mikewesthad commented on #142
@brannondorsey, cool.  I was running into what I believe to be a similar issue on people's macs in experimental media, but I didn't get anyone to run this code in order to isolate the issue.

[2014-11-19 14:56] mikewesthad opened #143 "Create a project with the name of an existing project (with a case difference) breaks"
This might already be fixed in the unreleased version of ofSketch.

If you create a project called "OverrideTest," and then create a project called "overridetest" the latter project is created within the "OverrideTest" project.  Looks like the check for existing projects isn't case insensitive.

![image](https://cloud.githubusercontent.com/assets/1131802/5107747/ded18ce4-6fc9-11e4-8d11-706ee5d3cfc

[2014-12-16 22:54] bakercp commented on #115
We will only support 10.7+.

[2014-12-16 22:54] #115 closed, assigned to nobody

[2014-12-28 12:16] lennart commented on #141
Is this related to https://github.com/openframeworks/openFrameworks/pull/3502 and, can I somehow test this? I was thinking of just compiling ofSketch against your updated openFrameworks branch.

[2014-12-28 13:43] kangm827 commented on #141
Semester is over, your response is of no help now.

On Sunday, December 28, 2014, Lennart Melzer notifications@github.com
wrote:

[2014-12-28 13:45] lennart commented on #141
Excuse me, what do you mean by semester is over?

[2014-12-28 15:13] bakercp commented on #141
Well, the response may be of no help to @kangm827, but it is very helpful to other people.  ofSketch will work with 10.10 when this makefile gets integrated, which will happen with the 0.5.0 milestone.  https://github.com/openframeworks/openFrameworks/pull/3502.  Thanks for your help on that one @lennart !

[2014-12-28 17:27] brannondorsey commented on #141
Thanks very much for the report @lennart. Like @bakercp said, we will get on it and ping you when here when there is an update!

[2015-01-15 23:58] timpulver opened #146 "Translate Settings / Add localization-attributes"
- Project settings
- Editor settings
- ofSketch settings

[2015-01-15 23:59] Powder commented on #146
Changed title

[2015-02-04 14:21] bakercp opened #147 "Installer for Windows"
http://www.techrepublic.com/blog/five-apps/five-apps-for-creating-installation-packages/

[2015-03-25 18:48] digitalcoleman opened #148 "Windows 7 compiles but apps fail to run"
Having troubles on a Windows 7 computer where the app compiles but when it tries to link and run, windows says that the app has failed to run. Unsure how to even get feedback on why because ofSketch console is finished reporting at that point.

[2015-03-26 03:33] bakercp commented on #148
Hey there, I just tried it on Windows 8.1 and it worked out of the box.  Did it ever work (i.e. the first time your ran a sketch out of the box)?  If it did, then it's likely a bug that we need to fix.  If it never did ... I'm not sure the best way to debug it.

[2015-03-26 04:52] digitalcoleman commented on #148
out of three windows machines only one was able to get ofSketch working. Tomorrow I will try on my two machines, one 7 and one 8.1 and see if I can add more data points. One note, does ofSketch save the log file somewhere so I can look to see what appears in the console right before it all gets erased?

[2015-03-29 19:09] digitalcoleman commented on #148
I have been unable to reproduce the issue on my two computers, Windows 7 and a Windows 8.1

[2015-03-29 19:40] bakercp commented on #148
Hmm.  I've seen something like this before though ... so it's still an
issue.  Keep your eyes peeled.  They always show up in workshops!

---

http://christopherbaker.net

On Sun, Mar 29, 2015 at 2:09 PM, Christopher Coleman <
notifications@github.com> wrote:

[2015-04-19 18:58] bakercp opened #149 "LZZ or other utils to export header / impl"
http://www.lazycplusplus.com/

[2015-04-19 18:59] bakercp commented on #149
http://somewhere.fscked.org/proj/inlsplit/

[2015-09-21 00:55] bakercp opened #150 "Xcode7 compatibility"
Xcode7 breaks the RC4 release.  To fix it, replace the contents of
![osx](https://cloud.githubusercontent.com/assets/300484/9983860/6fbe4f92-5fd1-11e5-9a53-4d4d1471e800.png)

with this:

https://gist.githubusercontent.com/bakercp/bec2deb534187533eec8/raw/e1f758df42f5d5620066e160b0e050a401156439/config.osx.default.mk

[2015-09-30 15:58] bakercp commented on #142
This is definitely an issue with RC4.  Just came up in class :(

[2015-09-30 15:58] bakercp commented on #142
Not sure why the other classes aren't getting saved past initialization.

[2015-09-30 16:00] bakercp commented on #142
The work-around is to not make more than 2 tabs.  Just past additional subclasses under the 2nd subclass.  Ugh, but it works.

[2015-10-02 00:30] mikewesthad commented on #142
:( I never dug around the source, so I don't have anything more helpful to contribute

[2016-06-27 07:41] bigfatbrowncat commented on #134
Just in case: there is no absolute necessity to install xcode toolkit to compile C++. You may, instead, use brew (for instance). Just like in Windows you can use mingw-w64. And if you are going to make user code really cross-platform, I'd recommend you to consider using a single toolchain (gcc) everywhere. Or even provide your own version of it (in advance).

[2017-02-06 02:00] ejdse opened #151 "QuickTime Kit was deprecated in OS X v10.9. Use the AVFoundation framework instead."
#### User Info

- ofSketch 0.4.0-RC2
- Target: OSX
- User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/602.4.8 (KHTML, like Gecko) Version/10.0.3 Safari/602.4.8